docs/ModelNet/examples/workflow_mode/duet_net_main.yml
app:
  description: 'DuetNet main-method reference (Wang et al., 2025, Token-Level Collaborative
    Reasoning for Parallel Multi-Models, 计算机学报 48(11)).


    Reproduces Algorithm 1 (§3.3) end-to-end with the paper''s default hyperparameters
    (τ_K=10, τ_P=0.75, T=1) and the principal 4-model setup from Table 1 (q1, q2,
    g4, L3). Each `token-model-source` node renders the prompt for one model and emits
    a ModelInvocationSpec (Eq. 1, logit_m = G_m(ω)); the `parallel-ensemble` node
    drives the `token_step` runner with the `duet_net` aggregator, which executes the
    three algorithmic steps at every decoding position:


    Step 1 — Joint truncation (Alg. 1 lines 4-7, Eq. 2): per model, retain Top-τ_K
    tokens whose cumulative softmax mass reaches τ_P. Controlled by `sampling_params.top_k`
    on each source (per-model τ_K) and `aggregator_config.tau_k` / `tau_p` (jointly
    enforced inside the aggregator).


    Step 2 — Aggregation (Alg. 1 lines 9-10, Eqs. 3-5): take the union U of the surviving
    candidate sets, then sum raw logits per token, X_m(u)=logit_m(u) if u∈π_m else
    0, to obtain C_u=Σ_m X_m(u). This is logit-space (not normalised-probability)
    so well-calibrated models dominate noisy ones (paper §3.3, §4.3.3). Selected via
    `aggregator_name: duet_net`.


    Step 3 — Top-T stochastic sampling (Alg. 1 lines 11-13, Eq. 6): take the T highest-C_u
    candidates, then sample one proportional to its logit. T=1 reduces to greedy on
    C_u (paper §4.2 recommends T=1). Controlled by `aggregator_config.top_t`.


    The loop terminates when the chosen token is the EOS or `runner_config.max_len`
    is reached (Alg. 1 line 15). Logical labels map to numeric model aliases {''q1'':
    ''29'', ''q2'': ''5'', ''g4'': ''6'', ''L3'': ''2''} in api/configs/model_net.yaml;
    every aliased backend must declare expose_raw_logits: true so the aggregator''s
    Capability.LOGITS_RAW self-check passes. To reproduce the parameter sweeps in
    Figs. 12-13 vary `aggregator_config.tau_k` / `tau_p` / `top_t`; to reproduce 2-
    and 3-model rows in Tables 4-5 remove the corresponding source nodes and edges.'
  icon: 🎵
  icon_background: '#DCE5FF'
  mode: workflow
  name: duet_net_main (workflow)
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start-to-q1
      source: start_node
      sourceHandle: source
      target: q1_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start-to-q2
      source: start_node
      sourceHandle: source
      target: q2_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start-to-g4
      source: start_node
      sourceHandle: source
      target: g4_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start-to-L3
      source: start_node
      sourceHandle: source
      target: L3_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: q1-to-ensemble
      source: q1_source
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: q2-to-ensemble
      source: q2_source
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: g4-to-ensemble
      source: g4_source
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: L3-to-ensemble
      source: L3_source
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: end
      id: ensemble-to-end
      source: ensemble
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Input ω in Alg. 1 — the prompt shared by all M parallel models.
        selected: false
        title: Start
        type: start
        variables:
        - label: question
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: question
      height: 90
      id: start_node
      position:
        x: 30
        y: 320
      positionAbsolute:
        x: 30
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Model m=1 (q1, Qwen2.5-3B (q8), model_alias=29). Renders ω for this
          model and emits the ModelInvocationSpec consumed by the ensemble; logit_m=G_m(ω)
          (Eq. 1) is computed inside the runner. sampling_params.top_k is the per-source
          τ_K seed (Alg. 1 line 6).'
        extra: {}
        model_alias: '29'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 1024
          temperature: 0.7
          top_k: 10
        selected: false
        title: Token Source m=1 (q1)
        type: token-model-source
      height: 130
      id: q1_source
      position:
        x: 334
        y: 24
      positionAbsolute:
        x: 334
        y: 24
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Model m=2 (q2, Qwen2.5-7B-Instruct, model_alias=5). Same role as q1_source
          for m=2.
        extra: {}
        model_alias: '5'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 1024
          temperature: 0.7
          top_k: 10
        selected: false
        title: Token Source m=2 (q2)
        type: token-model-source
      height: 130
      id: q2_source
      position:
        x: 334
        y: 220
      positionAbsolute:
        x: 334
        y: 220
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Model m=3 (g4, GLM-4-9B-Chat, model_alias=6). Same role as q1_source
          for m=3.
        extra: {}
        model_alias: '6'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 1024
          temperature: 0.7
          top_k: 10
        selected: false
        title: Token Source m=3 (g4)
        type: token-model-source
      height: 130
      id: g4_source
      position:
        x: 334
        y: 416
      positionAbsolute:
        x: 334
        y: 416
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Model m=4 (L3, Meta-Llama-3.1-8B-Instruct, model_alias=2). Same role
          as q1_source for m=4.
        extra: {}
        model_alias: '2'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 1024
          temperature: 0.7
          top_k: 10
        selected: false
        title: Token Source m=4 (L3)
        type: token-model-source
      height: 130
      id: L3_source
      position:
        x: 334
        y: 612
      positionAbsolute:
        x: 334
        y: 612
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'DuetNet aggregator (Alg. 1, §3.3). Per decoding step: (1) joint Top-τ_K
          + Top-τ_P truncation on each model''s raw logits (Eq. 2); (2) union U of
          surviving candidates and cumulative-logit C_u=Σ_m X_m(u) (Eqs. 3-5); (3)
          Top-T stochastic sampling proportional to logit (Eq. 6). Paper defaults:
          τ_K=10, τ_P=0.75, T=1 (greedy on cumulative logit).'
        ensemble:
          aggregator_config:
            seed: null
            tau_k: 10
            tau_p: 0.75
            top_t: 1
            use_weights: false
          aggregator_name: duet_net
          diagnostics:
            include_aggregator_reasoning: true
            include_per_backend_errors: true
            include_response_timings: true
            include_token_candidates: true
            max_trace_tokens: 2000
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 512
          runner_name: token_step
          token_sources:
          - source_id: q1
            spec_selector:
            - q1_source
            - spec
            weight: 1.0
          - source_id: q2
            spec_selector:
            - q2_source
            - spec
            weight: 1.0
          - source_id: g4
            spec_selector:
            - g4_source
            - spec
            weight: 1.0
          - source_id: L3
            spec_selector:
            - L3_source
            - spec
            weight: 1.0
        selected: false
        title: Parallel Ensemble (DuetNet)
        type: parallel-ensemble
      height: 200
      id: ensemble
      position:
        x: 638
        y: 320
      positionAbsolute:
        x: 638
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Output A in Alg. 1 — the autoregressively decoded answer. `metadata`
          carries the per-token DuetNet trace (candidate sets, cumulative logits,
          chosen token) for verifying Eqs. 3-6 step-by-step.
        outputs:
        - value_selector:
          - ensemble
          - text
          value_type: string
          variable: answer
        - value_selector:
          - ensemble
          - metadata
          value_type: object
          variable: metadata
        selected: false
        title: End
        type: end
      height: 116
      id: end_node
      position:
        x: 942
        y: 320
      positionAbsolute:
        x: 942
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
