docs/ModelNet/examples/workflow_mode/duet_net_q1_q2_g4.yml
app:
  description: 'DuetNet (Wang et al., 2025) reproduction — 3 models (q1&q2&g4).


    Token sources: q1 (Qwen2.5-3B (q8)), q2 (Qwen2.5-7B-Instruct), g4 (GLM-4-9B-Chat).


    Each token-model-source node renders the prompt; the parallel-ensemble node drives
    token_step runner + duet_net aggregator with paper defaults (τ_K=10, τ_P=0.75,
    T=1). Logical labels map to numeric model aliases {''q1'': ''29'', ''q2'': ''5'',
    ''g4'': ''6'', ''L3'': ''2''}. Every spec must declare LOGITS_RAW (set expose_raw_logits:
    true on the matching alias in api/configs/model_net.yaml). Vary aggregator_config
    to reproduce the parameter sweeps from paper Figs. 12-13.'
  icon: 🎵
  icon_background: '#DCE5FF'
  mode: workflow
  name: duet_net_q1_q2_g4 (workflow)
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start-to-q1
      source: start_node
      sourceHandle: source
      target: q1_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start-to-q2
      source: start_node
      sourceHandle: source
      target: q2_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start-to-g4
      source: start_node
      sourceHandle: source
      target: g4_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: q1-to-ensemble
      source: q1_source
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: q2-to-ensemble
      source: q2_source
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: g4-to-ensemble
      source: g4_source
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: end
      id: ensemble-to-end
      source: ensemble
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: User question routed to all parallel token sources.
        selected: false
        title: Start
        type: start
        variables:
        - label: question
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: question
      height: 90
      id: start_node
      position:
        x: 30
        y: 252
      positionAbsolute:
        x: 30
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Renders the prompt for q1 (Qwen2.5-3B (q8), model_alias=29) — yields
          a ModelInvocationSpec; does NOT call the model directly.
        extra: {}
        model_alias: '29'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 1024
          temperature: 0.7
          top_k: 10
        selected: false
        title: Token Source (q1)
        type: token-model-source
      height: 130
      id: q1_source
      position:
        x: 334
        y: 100
      positionAbsolute:
        x: 334
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Renders the prompt for q2 (Qwen2.5-7B-Instruct, model_alias=5) — yields
          a ModelInvocationSpec; does NOT call the model directly.
        extra: {}
        model_alias: '5'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 1024
          temperature: 0.7
          top_k: 10
        selected: false
        title: Token Source (q2)
        type: token-model-source
      height: 130
      id: q2_source
      position:
        x: 334
        y: 252
      positionAbsolute:
        x: 334
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Renders the prompt for g4 (GLM-4-9B-Chat, model_alias=6) — yields a
          ModelInvocationSpec; does NOT call the model directly.
        extra: {}
        model_alias: '6'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 1024
          temperature: 0.7
          top_k: 10
        selected: false
        title: Token Source (g4)
        type: token-model-source
      height: 130
      id: g4_source
      position:
        x: 334
        y: 404
      positionAbsolute:
        x: 334
        y: 404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: DuetNet token aggregator — joint τ_K/τ_P truncation, raw-logit sum across
          the union, Top-T sampling.
        ensemble:
          aggregator_config:
            seed: null
            tau_k: 10
            tau_p: 0.75
            top_t: 1
            use_weights: false
          aggregator_name: duet_net
          diagnostics:
            include_aggregator_reasoning: true
            include_per_backend_errors: true
            include_response_timings: true
            include_token_candidates: true
            max_trace_tokens: 2000
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 512
          runner_name: token_step
          token_sources:
          - source_id: q1
            spec_selector:
            - q1_source
            - spec
            weight: 1.0
          - source_id: q2
            spec_selector:
            - q2_source
            - spec
            weight: 1.0
          - source_id: g4
            spec_selector:
            - g4_source
            - spec
            weight: 1.0
        selected: false
        title: Parallel Ensemble (DuetNet)
        type: parallel-ensemble
      height: 200
      id: ensemble
      position:
        x: 638
        y: 252
      positionAbsolute:
        x: 638
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Emit the joint-decoded answer.
        outputs:
        - value_selector:
          - ensemble
          - text
          value_type: string
          variable: answer
        - value_selector:
          - ensemble
          - metadata
          value_type: object
          variable: metadata
        selected: false
        title: End
        type: end
      height: 116
      id: end_node
      position:
        x: 942
        y: 252
      positionAbsolute:
        x: 942
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
