docs/ModelNet/examples/workflow_mode/paper_s2p_D_QY.yml
app:
  description: 'AI-ModelNet paper S2P path D → [Q, Y]. Stage 1 = DeepSeek-R1-Distill-Qwen-7B;
    Stage 2 (parallel) = Qwen2.5-7B-Instruct, GLM-4-9B-Chat.


    ⚠ Phase 2 fidelity gap: response-aggregator falls back to concat (paper specifies
    majority_vote at this junction). Regenerate after Phase 3 lands — see PAPER_REPRODUCTION_PLAN.md
    §4.1.'
  icon: 🎼
  icon_background: '#DCE5FF'
  mode: workflow
  name: paper_s2p_D_QY (workflow)
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start_node-to-llm_D_serial
      source: start_node
      sourceHandle: source
      target: llm_D_serial
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: llm_D_serial-to-llm_Q_par
      source: llm_D_serial
      sourceHandle: source
      target: llm_Q_par
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: llm_D_serial-to-llm_Y_par
      source: llm_D_serial
      sourceHandle: source
      target: llm_Y_par
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: response-aggregator
      id: llm_Q_par-to-aggregator
      source: llm_Q_par
      sourceHandle: source
      target: aggregator
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: response-aggregator
      id: llm_Y_par-to-aggregator
      source: llm_Y_par
      sourceHandle: source
      target: aggregator
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: response-aggregator
        targetType: end
      id: aggregator-to-end_node
      source: aggregator
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: User question routed to the paradigm topology.
        selected: false
        title: Start
        type: start
        variables:
        - label: question
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: question
      height: 90
      id: start_node
      position:
        x: 30
        y: 252
      positionAbsolute:
        x: 30
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: S2P stage 1 — DeepSeek-R1-Distill-Qwen-7B.
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: deepseek-r1-distill-qwen-7b-q4
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: e5367125-8782-512f-bf04-cc201e968ffd
          role: system
          text: You are a careful problem-solver. Read the question, reason step by
            step, and provide your final answer at the end of the reply.
        - id: 610c237a-ae7c-515f-9da9-e35dbd90c212
          role: user
          text: '{{#start_node.question#}}'
        selected: false
        title: D (serial)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: llm_D_serial
      position:
        x: 334
        y: 252
      positionAbsolute:
        x: 334
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: S2P stage 2 — Qwen2.5-7B-Instruct refines stage-1 reply.
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: qwen25-7b-instruct-q5km
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 6eacbe67-792c-5942-ad7c-bfc1b1b66435
          role: system
          text: You are a careful problem-solver. A peer model has produced a candidate
            answer to the same question. Read it, decide whether to keep or correct
            it, then provide your own final answer.
        - id: b1792d2b-68e5-5f78-b4a0-110f6b5d4eff
          role: user
          text: 'Question:

            {{#start_node.question#}}


            A peer model proposed:

            {{#llm_D_serial.text#}}


            Provide your own final answer:'
        selected: false
        title: Q (parallel)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: llm_Q_par
      position:
        x: 638
        y: 176
      positionAbsolute:
        x: 638
        y: 176
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: S2P stage 2 — GLM-4-9B-Chat refines stage-1 reply.
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: glm-4-9b-chat-q4k
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: cb00a42b-107f-5717-bd88-23cd2598f13b
          role: system
          text: You are a careful problem-solver. A peer model has produced a candidate
            answer to the same question. Read it, decide whether to keep or correct
            it, then provide your own final answer.
        - id: 98ef80d8-b1b7-51bf-9e70-41434d06d327
          role: user
          text: 'Question:

            {{#start_node.question#}}


            A peer model proposed:

            {{#llm_D_serial.text#}}


            Provide your own final answer:'
        selected: false
        title: Y (parallel)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: llm_Y_par
      position:
        x: 638
        y: 328
      positionAbsolute:
        x: 638
        y: 328
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Phase 2 placeholder: concat (paper specifies majority_vote; swap once
          Phase 3 lands per PAPER_REPRODUCTION_PLAN.md §4.1).'
        inputs:
        - source_id: Q
          variable_selector:
          - llm_Q_par
          - text
        - source_id: Y
          variable_selector:
          - llm_Y_par
          - text
        selected: false
        strategy_config:
          include_source_label: true
          separator: '


            ---


            '
        strategy_name: concat
        title: Response Aggregator (S2P)
        type: response-aggregator
      height: 150
      id: aggregator
      position:
        x: 942
        y: 252
      positionAbsolute:
        x: 942
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Emit the paradigm's final answer.
        outputs:
        - value_selector:
          - aggregator
          - text
          value_type: string
          variable: answer
        selected: false
        title: End
        type: end
      height: 90
      id: end_node
      position:
        x: 1246
        y: 252
      positionAbsolute:
        x: 1246
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
