docs/ModelNet/examples/workflow_mode/paper_hybrid_router.yml
app:
  description: AI-ModelNet 混合推理总入口。必填输入 `path` 选择六条 S2P/P2S token 级融合路径之一，`question` 会被路由到对应分支。
  icon: 🎼
  icon_background: '#DCE5FF'
  mode: workflow
  name: AI-ModelNet 混合路径总入口 (workflow)
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - id: start_node-source-to-route_path
      source: start_node
      sourceHandle: source
      target: route_path
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
    - id: route_path-paper_s2p_Q_DY-to-paper_s2p_Q_DY__llm_Q_serial
      source: route_path
      sourceHandle: paper_s2p_Q_DY
      target: paper_s2p_Q_DY__llm_Q_serial
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
    - id: paper_s2p_Q_DY__llm_Q_serial-source-to-paper_s2p_Q_DY__token_D_par
      source: paper_s2p_Q_DY__llm_Q_serial
      sourceHandle: source
      target: paper_s2p_Q_DY__token_D_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: token-model-source
    - id: paper_s2p_Q_DY__llm_Q_serial-source-to-paper_s2p_Q_DY__token_Y_par
      source: paper_s2p_Q_DY__llm_Q_serial
      sourceHandle: source
      target: paper_s2p_Q_DY__token_Y_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: token-model-source
    - id: paper_s2p_Q_DY__token_D_par-source-to-paper_s2p_Q_DY__aggregator
      source: paper_s2p_Q_DY__token_D_par
      sourceHandle: source
      target: paper_s2p_Q_DY__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_s2p_Q_DY__token_Y_par-source-to-paper_s2p_Q_DY__aggregator
      source: paper_s2p_Q_DY__token_Y_par
      sourceHandle: source
      target: paper_s2p_Q_DY__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_s2p_Q_DY__aggregator-source-to-paper_s2p_Q_DY__end
      source: paper_s2p_Q_DY__aggregator
      sourceHandle: source
      target: paper_s2p_Q_DY__end
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: end
    - id: route_path-paper_s2p_D_QY-to-paper_s2p_D_QY__llm_D_serial
      source: route_path
      sourceHandle: paper_s2p_D_QY
      target: paper_s2p_D_QY__llm_D_serial
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
    - id: paper_s2p_D_QY__llm_D_serial-source-to-paper_s2p_D_QY__token_Q_par
      source: paper_s2p_D_QY__llm_D_serial
      sourceHandle: source
      target: paper_s2p_D_QY__token_Q_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: token-model-source
    - id: paper_s2p_D_QY__llm_D_serial-source-to-paper_s2p_D_QY__token_Y_par
      source: paper_s2p_D_QY__llm_D_serial
      sourceHandle: source
      target: paper_s2p_D_QY__token_Y_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: token-model-source
    - id: paper_s2p_D_QY__token_Q_par-source-to-paper_s2p_D_QY__aggregator
      source: paper_s2p_D_QY__token_Q_par
      sourceHandle: source
      target: paper_s2p_D_QY__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_s2p_D_QY__token_Y_par-source-to-paper_s2p_D_QY__aggregator
      source: paper_s2p_D_QY__token_Y_par
      sourceHandle: source
      target: paper_s2p_D_QY__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_s2p_D_QY__aggregator-source-to-paper_s2p_D_QY__end
      source: paper_s2p_D_QY__aggregator
      sourceHandle: source
      target: paper_s2p_D_QY__end
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: end
    - id: route_path-paper_s2p_Y_QD-to-paper_s2p_Y_QD__llm_Y_serial
      source: route_path
      sourceHandle: paper_s2p_Y_QD
      target: paper_s2p_Y_QD__llm_Y_serial
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
    - id: paper_s2p_Y_QD__llm_Y_serial-source-to-paper_s2p_Y_QD__token_Q_par
      source: paper_s2p_Y_QD__llm_Y_serial
      sourceHandle: source
      target: paper_s2p_Y_QD__token_Q_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: token-model-source
    - id: paper_s2p_Y_QD__llm_Y_serial-source-to-paper_s2p_Y_QD__token_D_par
      source: paper_s2p_Y_QD__llm_Y_serial
      sourceHandle: source
      target: paper_s2p_Y_QD__token_D_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: token-model-source
    - id: paper_s2p_Y_QD__token_Q_par-source-to-paper_s2p_Y_QD__aggregator
      source: paper_s2p_Y_QD__token_Q_par
      sourceHandle: source
      target: paper_s2p_Y_QD__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_s2p_Y_QD__token_D_par-source-to-paper_s2p_Y_QD__aggregator
      source: paper_s2p_Y_QD__token_D_par
      sourceHandle: source
      target: paper_s2p_Y_QD__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_s2p_Y_QD__aggregator-source-to-paper_s2p_Y_QD__end
      source: paper_s2p_Y_QD__aggregator
      sourceHandle: source
      target: paper_s2p_Y_QD__end
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: end
    - id: route_path-paper_p2s_QD_Y-to-paper_p2s_QD_Y__token_Q_par
      source: route_path
      sourceHandle: paper_p2s_QD_Y
      target: paper_p2s_QD_Y__token_Q_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
    - id: route_path-paper_p2s_QD_Y-to-paper_p2s_QD_Y__token_D_par
      source: route_path
      sourceHandle: paper_p2s_QD_Y
      target: paper_p2s_QD_Y__token_D_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
    - id: paper_p2s_QD_Y__token_Q_par-source-to-paper_p2s_QD_Y__aggregator
      source: paper_p2s_QD_Y__token_Q_par
      sourceHandle: source
      target: paper_p2s_QD_Y__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_p2s_QD_Y__token_D_par-source-to-paper_p2s_QD_Y__aggregator
      source: paper_p2s_QD_Y__token_D_par
      sourceHandle: source
      target: paper_p2s_QD_Y__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_p2s_QD_Y__aggregator-source-to-paper_p2s_QD_Y__llm_Y_serial
      source: paper_p2s_QD_Y__aggregator
      sourceHandle: source
      target: paper_p2s_QD_Y__llm_Y_serial
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: llm
    - id: paper_p2s_QD_Y__llm_Y_serial-source-to-paper_p2s_QD_Y__end
      source: paper_p2s_QD_Y__llm_Y_serial
      sourceHandle: source
      target: paper_p2s_QD_Y__end
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
    - id: route_path-paper_p2s_QY_D-to-paper_p2s_QY_D__token_Q_par
      source: route_path
      sourceHandle: paper_p2s_QY_D
      target: paper_p2s_QY_D__token_Q_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
    - id: route_path-paper_p2s_QY_D-to-paper_p2s_QY_D__token_Y_par
      source: route_path
      sourceHandle: paper_p2s_QY_D
      target: paper_p2s_QY_D__token_Y_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
    - id: paper_p2s_QY_D__token_Q_par-source-to-paper_p2s_QY_D__aggregator
      source: paper_p2s_QY_D__token_Q_par
      sourceHandle: source
      target: paper_p2s_QY_D__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_p2s_QY_D__token_Y_par-source-to-paper_p2s_QY_D__aggregator
      source: paper_p2s_QY_D__token_Y_par
      sourceHandle: source
      target: paper_p2s_QY_D__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_p2s_QY_D__aggregator-source-to-paper_p2s_QY_D__llm_D_serial
      source: paper_p2s_QY_D__aggregator
      sourceHandle: source
      target: paper_p2s_QY_D__llm_D_serial
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: llm
    - id: paper_p2s_QY_D__llm_D_serial-source-to-paper_p2s_QY_D__end
      source: paper_p2s_QY_D__llm_D_serial
      sourceHandle: source
      target: paper_p2s_QY_D__end
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
    - id: route_path-paper_p2s_DY_Q-to-paper_p2s_DY_Q__token_D_par
      source: route_path
      sourceHandle: paper_p2s_DY_Q
      target: paper_p2s_DY_Q__token_D_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
    - id: route_path-paper_p2s_DY_Q-to-paper_p2s_DY_Q__token_Y_par
      source: route_path
      sourceHandle: paper_p2s_DY_Q
      target: paper_p2s_DY_Q__token_Y_par
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
    - id: paper_p2s_DY_Q__token_D_par-source-to-paper_p2s_DY_Q__aggregator
      source: paper_p2s_DY_Q__token_D_par
      sourceHandle: source
      target: paper_p2s_DY_Q__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_p2s_DY_Q__token_Y_par-source-to-paper_p2s_DY_Q__aggregator
      source: paper_p2s_DY_Q__token_Y_par
      sourceHandle: source
      target: paper_p2s_DY_Q__aggregator
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
    - id: paper_p2s_DY_Q__aggregator-source-to-paper_p2s_DY_Q__llm_Q_serial
      source: paper_p2s_DY_Q__aggregator
      sourceHandle: source
      target: paper_p2s_DY_Q__llm_Q_serial
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: llm
    - id: paper_p2s_DY_Q__llm_Q_serial-source-to-paper_p2s_DY_Q__end
      source: paper_p2s_DY_Q__llm_Q_serial
      sourceHandle: source
      target: paper_p2s_DY_Q__end
      targetHandle: target
      type: custom
      zIndex: 0
      data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
    nodes:
    - id: start_node
      type: custom
      data:
        desc: 选择实验路径并输入待推理问题。
        selected: false
        title: 开始
        type: start
        variables:
        - label: 实验路径（使用下方 ID）
          max_length: 128
          options:
          - paper_s2p_Q_DY
          - paper_s2p_D_QY
          - paper_s2p_Y_QD
          - paper_p2s_QD_Y
          - paper_p2s_QY_D
          - paper_p2s_DY_Q
          required: true
          type: select
          variable: path
        - label: 问题
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: question
      height: 112
      position:
        x: 30
        y: 1180
      positionAbsolute:
        x: 30
        y: 1180
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: route_path
      type: custom
      data:
        desc: 根据 path 输入选择一个 S2P/P2S 混合推理分支。
        _targetBranches:
        - id: paper_s2p_Q_DY
          name: S2P：Q 串行 → [D, Y] 并行
        - id: paper_s2p_D_QY
          name: S2P：D 串行 → [Q, Y] 并行
        - id: paper_s2p_Y_QD
          name: S2P：Y 串行 → [Q, D] 并行
        - id: paper_p2s_QD_Y
          name: P2S：[Q, D] 并行 → Y 综合
        - id: paper_p2s_QY_D
          name: P2S：[Q, Y] 并行 → D 综合
        - id: paper_p2s_DY_Q
          name: P2S：[D, Y] 并行 → Q 综合
        cases:
        - case_id: paper_s2p_Q_DY
          logical_operator: and
          conditions:
          - id: cond_paper_s2p_Q_DY
            varType: string
            variable_selector:
            - start_node
            - path
            comparison_operator: is
            value: paper_s2p_Q_DY
        - case_id: paper_s2p_D_QY
          logical_operator: and
          conditions:
          - id: cond_paper_s2p_D_QY
            varType: string
            variable_selector:
            - start_node
            - path
            comparison_operator: is
            value: paper_s2p_D_QY
        - case_id: paper_s2p_Y_QD
          logical_operator: and
          conditions:
          - id: cond_paper_s2p_Y_QD
            varType: string
            variable_selector:
            - start_node
            - path
            comparison_operator: is
            value: paper_s2p_Y_QD
        - case_id: paper_p2s_QD_Y
          logical_operator: and
          conditions:
          - id: cond_paper_p2s_QD_Y
            varType: string
            variable_selector:
            - start_node
            - path
            comparison_operator: is
            value: paper_p2s_QD_Y
        - case_id: paper_p2s_QY_D
          logical_operator: and
          conditions:
          - id: cond_paper_p2s_QY_D
            varType: string
            variable_selector:
            - start_node
            - path
            comparison_operator: is
            value: paper_p2s_QY_D
        - case_id: paper_p2s_DY_Q
          logical_operator: and
          conditions:
          - id: cond_paper_p2s_DY_Q
            varType: string
            variable_selector:
            - start_node
            - path
            comparison_operator: is
            value: paper_p2s_DY_Q
        isInIteration: false
        isInLoop: false
        selected: false
        title: 路由：实验路径
        type: if-else
      height: 250
      position:
        x: 334
        y: 1180
      positionAbsolute:
        x: 334
        y: 1180
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_Q_DY__llm_Q_serial
      type: custom
      data:
        context:
          enabled: false
          variable_selector: []
        desc: S2P：Q 串行 → [D, Y] 并行 第一阶段：由 Qwen2.5-7B-Instruct 生成语义草稿。
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: qwen25-7b-instruct-q5km
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: ea49def7-e102-5f4a-8e43-24c9e705d179
          role: system
          text: 你是严谨的问题求解助手。请阅读问题，逐步推理，并在回答末尾给出最终答案。
        - id: fb68696e-42a1-52d7-aba9-6b54b5ea9b63
          role: user
          text: '{{#start_node.question#}}'
        selected: false
        title: S2P：Q 串行 → [D, Y] 并行：Q 串行草稿
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      position:
        x: 638
        y: 156
      positionAbsolute:
        x: 638
        y: 156
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_Q_DY__token_D_par
      type: custom
      data:
        desc: S2P：Q 串行 → [D, Y] 并行 并行源：Qwen3-8B-BF16（D 角色替代模型） 接收第一阶段语义草稿，参与 token 级融合。
        extra: {}
        model_alias: '22'
        prompt_template: |-
          问题：
          {{#start_node.question#}}

          第一阶段语义草稿：
          {{#paper_s2p_Q_DY__llm_Q_serial.text#}}

          请基于该草稿继续推理或修正，并在回答末尾给出最终答案。
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: S2P：Q 串行 → [D, Y] 并行：D 并行源
        type: token-model-source
      height: 130
      position:
        x: 942
        y: 80
      positionAbsolute:
        x: 942
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_Q_DY__token_Y_par
      type: custom
      data:
        desc: S2P：Q 串行 → [D, Y] 并行 并行源：GLM-4-9B-Chat 接收第一阶段语义草稿，参与 token 级融合。
        extra: {}
        model_alias: '6'
        prompt_template: |-
          问题：
          {{#start_node.question#}}

          第一阶段语义草稿：
          {{#paper_s2p_Q_DY__llm_Q_serial.text#}}

          请基于该草稿继续推理或修正，并在回答末尾给出最终答案。
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: S2P：Q 串行 → [D, Y] 并行：Y 并行源
        type: token-model-source
      height: 130
      position:
        x: 942
        y: 232
      positionAbsolute:
        x: 942
        y: 232
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_Q_DY__aggregator
      type: custom
      data:
        desc: S2P：Q 串行 → [D, Y] 并行 的 S2P 第二阶段，使用 sum_score 做 token 级并行融合。
        ensemble:
          aggregator_config:
            seed: null
            tau_p: 1.0
            use_weights: false
          aggregator_name: sum_score
          diagnostics:
            include_aggregator_reasoning: true
            include_per_backend_errors: true
            include_response_timings: true
            include_token_candidates: false
            max_trace_tokens: 2000
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 512
          runner_name: token_step
          token_sources:
          - source_id: D
            spec_selector:
            - paper_s2p_Q_DY__token_D_par
            - spec
            weight: 1.0
          - source_id: Y
            spec_selector:
            - paper_s2p_Q_DY__token_Y_par
            - spec
            weight: 1.0
        selected: false
        title: S2P：Q 串行 → [D, Y] 并行：token 级并行融合
        type: parallel-ensemble
      height: 200
      position:
        x: 1246
        y: 156
      positionAbsolute:
        x: 1246
        y: 156
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_Q_DY__end
      type: custom
      data:
        desc: 输出 S2P：Q 串行 → [D, Y] 并行 的最终答案。
        outputs:
        - value_selector:
          - paper_s2p_Q_DY__aggregator
          - text
          value_type: string
          variable: answer
        selected: false
        title: 结束：S2P：Q 串行 → [D, Y] 并行
        type: end
      height: 90
      position:
        x: 1550
        y: 156
      positionAbsolute:
        x: 1550
        y: 156
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_D_QY__llm_D_serial
      type: custom
      data:
        context:
          enabled: false
          variable_selector: []
        desc: S2P：D 串行 → [Q, Y] 并行 第一阶段：由 Qwen3-8B-BF16（D 角色替代模型） 生成语义草稿。
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: qwen3-8b-bf16
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 3fba5bed-fda3-52e6-afcf-3cd051421cff
          role: system
          text: 你是严谨的问题求解助手。请阅读问题，逐步推理，并在回答末尾给出最终答案。
        - id: 80e956a0-a62c-5115-a9c2-82db082e2127
          role: user
          text: '{{#start_node.question#}}'
        selected: false
        title: S2P：D 串行 → [Q, Y] 并行：D 串行草稿
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      position:
        x: 638
        y: 516
      positionAbsolute:
        x: 638
        y: 516
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_D_QY__token_Q_par
      type: custom
      data:
        desc: S2P：D 串行 → [Q, Y] 并行 并行源：Qwen2.5-7B-Instruct 接收第一阶段语义草稿，参与 token 级融合。
        extra: {}
        model_alias: '5'
        prompt_template: |-
          问题：
          {{#start_node.question#}}

          第一阶段语义草稿：
          {{#paper_s2p_D_QY__llm_D_serial.text#}}

          请基于该草稿继续推理或修正，并在回答末尾给出最终答案。
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: S2P：D 串行 → [Q, Y] 并行：Q 并行源
        type: token-model-source
      height: 130
      position:
        x: 942
        y: 440
      positionAbsolute:
        x: 942
        y: 440
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_D_QY__token_Y_par
      type: custom
      data:
        desc: S2P：D 串行 → [Q, Y] 并行 并行源：GLM-4-9B-Chat 接收第一阶段语义草稿，参与 token 级融合。
        extra: {}
        model_alias: '6'
        prompt_template: |-
          问题：
          {{#start_node.question#}}

          第一阶段语义草稿：
          {{#paper_s2p_D_QY__llm_D_serial.text#}}

          请基于该草稿继续推理或修正，并在回答末尾给出最终答案。
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: S2P：D 串行 → [Q, Y] 并行：Y 并行源
        type: token-model-source
      height: 130
      position:
        x: 942
        y: 592
      positionAbsolute:
        x: 942
        y: 592
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_D_QY__aggregator
      type: custom
      data:
        desc: S2P：D 串行 → [Q, Y] 并行 的 S2P 第二阶段，使用 sum_score 做 token 级并行融合。
        ensemble:
          aggregator_config:
            seed: null
            tau_p: 1.0
            use_weights: false
          aggregator_name: sum_score
          diagnostics:
            include_aggregator_reasoning: true
            include_per_backend_errors: true
            include_response_timings: true
            include_token_candidates: false
            max_trace_tokens: 2000
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 512
          runner_name: token_step
          token_sources:
          - source_id: Q
            spec_selector:
            - paper_s2p_D_QY__token_Q_par
            - spec
            weight: 1.0
          - source_id: Y
            spec_selector:
            - paper_s2p_D_QY__token_Y_par
            - spec
            weight: 1.0
        selected: false
        title: S2P：D 串行 → [Q, Y] 并行：token 级并行融合
        type: parallel-ensemble
      height: 200
      position:
        x: 1246
        y: 516
      positionAbsolute:
        x: 1246
        y: 516
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_D_QY__end
      type: custom
      data:
        desc: 输出 S2P：D 串行 → [Q, Y] 并行 的最终答案。
        outputs:
        - value_selector:
          - paper_s2p_D_QY__aggregator
          - text
          value_type: string
          variable: answer
        selected: false
        title: 结束：S2P：D 串行 → [Q, Y] 并行
        type: end
      height: 90
      position:
        x: 1550
        y: 516
      positionAbsolute:
        x: 1550
        y: 516
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_Y_QD__llm_Y_serial
      type: custom
      data:
        context:
          enabled: false
          variable_selector: []
        desc: S2P：Y 串行 → [Q, D] 并行 第一阶段：由 GLM-4-9B-Chat 生成语义草稿。
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: glm-4-9b-chat-q4k
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 41e67bf0-f746-5473-a239-5e4221309f03
          role: system
          text: 你是严谨的问题求解助手。请阅读问题，逐步推理，并在回答末尾给出最终答案。
        - id: 512578bc-29f3-5947-a0ce-b71a35bd43a2
          role: user
          text: '{{#start_node.question#}}'
        selected: false
        title: S2P：Y 串行 → [Q, D] 并行：Y 串行草稿
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      position:
        x: 638
        y: 876
      positionAbsolute:
        x: 638
        y: 876
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_Y_QD__token_Q_par
      type: custom
      data:
        desc: S2P：Y 串行 → [Q, D] 并行 并行源：Qwen2.5-7B-Instruct 接收第一阶段语义草稿，参与 token 级融合。
        extra: {}
        model_alias: '5'
        prompt_template: |-
          问题：
          {{#start_node.question#}}

          第一阶段语义草稿：
          {{#paper_s2p_Y_QD__llm_Y_serial.text#}}

          请基于该草稿继续推理或修正，并在回答末尾给出最终答案。
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: S2P：Y 串行 → [Q, D] 并行：Q 并行源
        type: token-model-source
      height: 130
      position:
        x: 942
        y: 800
      positionAbsolute:
        x: 942
        y: 800
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_Y_QD__token_D_par
      type: custom
      data:
        desc: S2P：Y 串行 → [Q, D] 并行 并行源：Qwen3-8B-BF16（D 角色替代模型） 接收第一阶段语义草稿，参与 token 级融合。
        extra: {}
        model_alias: '22'
        prompt_template: |-
          问题：
          {{#start_node.question#}}

          第一阶段语义草稿：
          {{#paper_s2p_Y_QD__llm_Y_serial.text#}}

          请基于该草稿继续推理或修正，并在回答末尾给出最终答案。
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: S2P：Y 串行 → [Q, D] 并行：D 并行源
        type: token-model-source
      height: 130
      position:
        x: 942
        y: 952
      positionAbsolute:
        x: 942
        y: 952
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_Y_QD__aggregator
      type: custom
      data:
        desc: S2P：Y 串行 → [Q, D] 并行 的 S2P 第二阶段，使用 sum_score 做 token 级并行融合。
        ensemble:
          aggregator_config:
            seed: null
            tau_p: 1.0
            use_weights: false
          aggregator_name: sum_score
          diagnostics:
            include_aggregator_reasoning: true
            include_per_backend_errors: true
            include_response_timings: true
            include_token_candidates: false
            max_trace_tokens: 2000
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 512
          runner_name: token_step
          token_sources:
          - source_id: Q
            spec_selector:
            - paper_s2p_Y_QD__token_Q_par
            - spec
            weight: 1.0
          - source_id: D
            spec_selector:
            - paper_s2p_Y_QD__token_D_par
            - spec
            weight: 1.0
        selected: false
        title: S2P：Y 串行 → [Q, D] 并行：token 级并行融合
        type: parallel-ensemble
      height: 200
      position:
        x: 1246
        y: 876
      positionAbsolute:
        x: 1246
        y: 876
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_s2p_Y_QD__end
      type: custom
      data:
        desc: 输出 S2P：Y 串行 → [Q, D] 并行 的最终答案。
        outputs:
        - value_selector:
          - paper_s2p_Y_QD__aggregator
          - text
          value_type: string
          variable: answer
        selected: false
        title: 结束：S2P：Y 串行 → [Q, D] 并行
        type: end
      height: 90
      position:
        x: 1550
        y: 876
      positionAbsolute:
        x: 1550
        y: 876
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_QD_Y__token_Q_par
      type: custom
      data:
        desc: P2S：[Q, D] 并行 → Y 综合 并行源：Qwen2.5-7B-Instruct 参与 token 级融合。
        extra: {}
        model_alias: '5'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: P2S：[Q, D] 并行 → Y 综合：Q 并行源
        type: token-model-source
      height: 130
      position:
        x: 638
        y: 1160
      positionAbsolute:
        x: 638
        y: 1160
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_QD_Y__token_D_par
      type: custom
      data:
        desc: P2S：[Q, D] 并行 → Y 综合 并行源：Qwen3-8B-BF16（D 角色替代模型） 参与 token 级融合。
        extra: {}
        model_alias: '22'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: P2S：[Q, D] 并行 → Y 综合：D 并行源
        type: token-model-source
      height: 130
      position:
        x: 638
        y: 1312
      positionAbsolute:
        x: 638
        y: 1312
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_QD_Y__aggregator
      type: custom
      data:
        desc: P2S：[Q, D] 并行 → Y 综合 的 P2S 第一阶段，使用 sum_score 做 token 级并行融合。
        ensemble:
          aggregator_config:
            seed: null
            tau_p: 1.0
            use_weights: false
          aggregator_name: sum_score
          diagnostics:
            include_aggregator_reasoning: true
            include_per_backend_errors: true
            include_response_timings: true
            include_token_candidates: false
            max_trace_tokens: 2000
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 512
          runner_name: token_step
          token_sources:
          - source_id: Q
            spec_selector:
            - paper_p2s_QD_Y__token_Q_par
            - spec
            weight: 1.0
          - source_id: D
            spec_selector:
            - paper_p2s_QD_Y__token_D_par
            - spec
            weight: 1.0
        selected: false
        title: P2S：[Q, D] 并行 → Y 综合：token 级并行融合
        type: parallel-ensemble
      height: 200
      position:
        x: 942
        y: 1236
      positionAbsolute:
        x: 942
        y: 1236
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_QD_Y__llm_Y_serial
      type: custom
      data:
        context:
          enabled: false
          variable_selector: []
        desc: P2S：[Q, D] 并行 → Y 综合 第二阶段：由 GLM-4-9B-Chat 综合融合后的中间答案。
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: glm-4-9b-chat-q4k
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: f1a8369a-bc73-597f-a2e5-b7f0d5be4071
          role: system
          text: 你是严谨的问题求解助手。请阅读问题和 token 级并行融合得到的候选答案，核验后给出统一的最终答案。
        - id: 4f5668be-ce10-5479-a05e-c32309cfe8c6
          role: user
          text: |-
            问题：
            {{#start_node.question#}}

            token 级并行融合得到的候选答案：
            {{#paper_p2s_QD_Y__aggregator.text#}}

            请给出核验后的统一最终答案：
        selected: false
        title: P2S：[Q, D] 并行 → Y 综合：Y 串行综合
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      position:
        x: 1246
        y: 1236
      positionAbsolute:
        x: 1246
        y: 1236
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_QD_Y__end
      type: custom
      data:
        desc: 输出 P2S：[Q, D] 并行 → Y 综合 的最终答案。
        outputs:
        - value_selector:
          - paper_p2s_QD_Y__llm_Y_serial
          - text
          value_type: string
          variable: answer
        selected: false
        title: 结束：P2S：[Q, D] 并行 → Y 综合
        type: end
      height: 90
      position:
        x: 1550
        y: 1236
      positionAbsolute:
        x: 1550
        y: 1236
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_QY_D__token_Q_par
      type: custom
      data:
        desc: P2S：[Q, Y] 并行 → D 综合 并行源：Qwen2.5-7B-Instruct 参与 token 级融合。
        extra: {}
        model_alias: '5'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: P2S：[Q, Y] 并行 → D 综合：Q 并行源
        type: token-model-source
      height: 130
      position:
        x: 638
        y: 1520
      positionAbsolute:
        x: 638
        y: 1520
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_QY_D__token_Y_par
      type: custom
      data:
        desc: P2S：[Q, Y] 并行 → D 综合 并行源：GLM-4-9B-Chat 参与 token 级融合。
        extra: {}
        model_alias: '6'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: P2S：[Q, Y] 并行 → D 综合：Y 并行源
        type: token-model-source
      height: 130
      position:
        x: 638
        y: 1672
      positionAbsolute:
        x: 638
        y: 1672
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_QY_D__aggregator
      type: custom
      data:
        desc: P2S：[Q, Y] 并行 → D 综合 的 P2S 第一阶段，使用 sum_score 做 token 级并行融合。
        ensemble:
          aggregator_config:
            seed: null
            tau_p: 1.0
            use_weights: false
          aggregator_name: sum_score
          diagnostics:
            include_aggregator_reasoning: true
            include_per_backend_errors: true
            include_response_timings: true
            include_token_candidates: false
            max_trace_tokens: 2000
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 512
          runner_name: token_step
          token_sources:
          - source_id: Q
            spec_selector:
            - paper_p2s_QY_D__token_Q_par
            - spec
            weight: 1.0
          - source_id: Y
            spec_selector:
            - paper_p2s_QY_D__token_Y_par
            - spec
            weight: 1.0
        selected: false
        title: P2S：[Q, Y] 并行 → D 综合：token 级并行融合
        type: parallel-ensemble
      height: 200
      position:
        x: 942
        y: 1596
      positionAbsolute:
        x: 942
        y: 1596
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_QY_D__llm_D_serial
      type: custom
      data:
        context:
          enabled: false
          variable_selector: []
        desc: P2S：[Q, Y] 并行 → D 综合 第二阶段：由 Qwen3-8B-BF16（D 角色替代模型） 综合融合后的中间答案。
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: qwen3-8b-bf16
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 2b869b8f-593c-5b6a-98dc-312fcd1fd09a
          role: system
          text: 你是严谨的问题求解助手。请阅读问题和 token 级并行融合得到的候选答案，核验后给出统一的最终答案。
        - id: 90d08100-4828-51e4-b7e0-83673460e4af
          role: user
          text: |-
            问题：
            {{#start_node.question#}}

            token 级并行融合得到的候选答案：
            {{#paper_p2s_QY_D__aggregator.text#}}

            请给出核验后的统一最终答案：
        selected: false
        title: P2S：[Q, Y] 并行 → D 综合：D 串行综合
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      position:
        x: 1246
        y: 1596
      positionAbsolute:
        x: 1246
        y: 1596
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_QY_D__end
      type: custom
      data:
        desc: 输出 P2S：[Q, Y] 并行 → D 综合 的最终答案。
        outputs:
        - value_selector:
          - paper_p2s_QY_D__llm_D_serial
          - text
          value_type: string
          variable: answer
        selected: false
        title: 结束：P2S：[Q, Y] 并行 → D 综合
        type: end
      height: 90
      position:
        x: 1550
        y: 1596
      positionAbsolute:
        x: 1550
        y: 1596
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_DY_Q__token_D_par
      type: custom
      data:
        desc: P2S：[D, Y] 并行 → Q 综合 并行源：Qwen3-8B-BF16（D 角色替代模型） 参与 token 级融合。
        extra: {}
        model_alias: '22'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: P2S：[D, Y] 并行 → Q 综合：D 并行源
        type: token-model-source
      height: 130
      position:
        x: 638
        y: 1880
      positionAbsolute:
        x: 638
        y: 1880
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_DY_Q__token_Y_par
      type: custom
      data:
        desc: P2S：[D, Y] 并行 → Q 综合 并行源：GLM-4-9B-Chat 参与 token 级融合。
        extra: {}
        model_alias: '6'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: P2S：[D, Y] 并行 → Q 综合：Y 并行源
        type: token-model-source
      height: 130
      position:
        x: 638
        y: 2032
      positionAbsolute:
        x: 638
        y: 2032
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_DY_Q__aggregator
      type: custom
      data:
        desc: P2S：[D, Y] 并行 → Q 综合 的 P2S 第一阶段，使用 sum_score 做 token 级并行融合。
        ensemble:
          aggregator_config:
            seed: null
            tau_p: 1.0
            use_weights: false
          aggregator_name: sum_score
          diagnostics:
            include_aggregator_reasoning: true
            include_per_backend_errors: true
            include_response_timings: true
            include_token_candidates: false
            max_trace_tokens: 2000
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 512
          runner_name: token_step
          token_sources:
          - source_id: D
            spec_selector:
            - paper_p2s_DY_Q__token_D_par
            - spec
            weight: 1.0
          - source_id: Y
            spec_selector:
            - paper_p2s_DY_Q__token_Y_par
            - spec
            weight: 1.0
        selected: false
        title: P2S：[D, Y] 并行 → Q 综合：token 级并行融合
        type: parallel-ensemble
      height: 200
      position:
        x: 942
        y: 1956
      positionAbsolute:
        x: 942
        y: 1956
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_DY_Q__llm_Q_serial
      type: custom
      data:
        context:
          enabled: false
          variable_selector: []
        desc: P2S：[D, Y] 并行 → Q 综合 第二阶段：由 Qwen2.5-7B-Instruct 综合融合后的中间答案。
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: qwen25-7b-instruct-q5km
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 9d98d1a6-580b-56d4-95ff-89753baac9b0
          role: system
          text: 你是严谨的问题求解助手。请阅读问题和 token 级并行融合得到的候选答案，核验后给出统一的最终答案。
        - id: b3d669e4-591d-5df2-a04b-f5f63d72d14d
          role: user
          text: |-
            问题：
            {{#start_node.question#}}

            token 级并行融合得到的候选答案：
            {{#paper_p2s_DY_Q__aggregator.text#}}

            请给出核验后的统一最终答案：
        selected: false
        title: P2S：[D, Y] 并行 → Q 综合：Q 串行综合
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      position:
        x: 1246
        y: 1956
      positionAbsolute:
        x: 1246
        y: 1956
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    - id: paper_p2s_DY_Q__end
      type: custom
      data:
        desc: 输出 P2S：[D, Y] 并行 → Q 综合 的最终答案。
        outputs:
        - value_selector:
          - paper_p2s_DY_Q__llm_Q_serial
          - text
          value_type: string
          variable: answer
        selected: false
        title: 结束：P2S：[D, Y] 并行 → Q 综合
        type: end
      height: 90
      position:
        x: 1550
        y: 1956
      positionAbsolute:
        x: 1550
        y: 1956
      selected: false
      sourcePosition: right
      targetPosition: left
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
