docs/ModelNet/examples/workflow_mode/paper_pi_QDY.yml
app:
  description: AI-ModelNet paper PI path [Q, D, Y] (Qwen2.5-7B-Instruct, DeepSeek-R1-Distill-Qwen-7B,
    GLM-4-9B-Chat). Token-level parallel ensemble using sum_score (probability-sum
    vote across the union of top-k per decode step), matching paper Fig. 5b. Reads
    aliases directly from api/configs/model_net.yaml; the standard llm node is not
    used.
  icon: 🎼
  icon_background: '#DCE5FF'
  mode: workflow
  name: paper_pi_QDY (workflow)
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start_node-to-token_Q
      source: start_node
      sourceHandle: source
      target: token_Q
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: token_Q-to-ensemble
      source: token_Q
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start_node-to-token_D
      source: start_node
      sourceHandle: source
      target: token_D
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: token_D-to-ensemble
      source: token_D
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start_node-to-token_Y
      source: start_node
      sourceHandle: source
      target: token_Y
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: token_Y-to-ensemble
      source: token_Y
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: end
      id: ensemble-to-end_node
      source: ensemble
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: User question routed to the paradigm topology.
        selected: false
        title: Start
        type: start
        variables:
        - label: question
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: question
      height: 90
      id: start_node
      position:
        x: 30
        y: 252
      positionAbsolute:
        x: 30
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Renders the prompt for Q (Qwen2.5-7B-Instruct), alias 5; emits a ModelInvocationSpec.
        extra: {}
        model_alias: '5'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: Token Source (Q)
        type: token-model-source
      height: 130
      id: token_Q
      position:
        x: 334
        y: 100
      positionAbsolute:
        x: 334
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Renders the prompt for D (DeepSeek-R1-Distill-Qwen-7B), alias 27; emits
          a ModelInvocationSpec.
        extra: {}
        model_alias: '27'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: Token Source (D)
        type: token-model-source
      height: 130
      id: token_D
      position:
        x: 334
        y: 252
      positionAbsolute:
        x: 334
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Renders the prompt for Y (GLM-4-9B-Chat), alias 6; emits a ModelInvocationSpec.
        extra: {}
        model_alias: '6'
        prompt_template: '{{#start_node.question#}}'
        sampling_params:
          max_tokens: 512
          temperature: 0.7
          top_k: 10
        selected: false
        title: Token Source (Y)
        type: token-model-source
      height: 130
      id: token_Y
      position:
        x: 334
        y: 404
      positionAbsolute:
        x: 334
        y: 404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Token-level parallel ensemble — sum_score aggregator (probability-sum
          vote across the union of top-k candidates from each backend per decode step).
        ensemble:
          aggregator_config:
            seed: null
            tau_p: 1.0
            use_weights: false
          aggregator_name: sum_score
          diagnostics:
            include_aggregator_reasoning: true
            include_per_backend_errors: true
            include_response_timings: true
            include_token_candidates: false
            max_trace_tokens: 2000
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 512
          runner_name: token_step
          token_sources:
          - source_id: Q
            spec_selector:
            - token_Q
            - spec
            weight: 1.0
          - source_id: D
            spec_selector:
            - token_D
            - spec
            weight: 1.0
          - source_id: Y
            spec_selector:
            - token_Y
            - spec
            weight: 1.0
        selected: false
        title: Parallel Ensemble (PI)
        type: parallel-ensemble
      height: 200
      id: ensemble
      position:
        x: 638
        y: 252
      positionAbsolute:
        x: 638
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Emit the paradigm's final answer.
        outputs:
        - value_selector:
          - ensemble
          - text
          value_type: string
          variable: answer
        selected: false
        title: End
        type: end
      height: 90
      id: end_node
      position:
        x: 942
        y: 252
      positionAbsolute:
        x: 942
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
