docs/ModelNet/examples/workflow_mode/paper_si_YQD.yml
app:
  description: AI-ModelNet paper SI path Y → Q → D (GLM-4-9B-Chat → Qwen2.5-7B-Instruct
    → DeepSeek-R1-Distill-Qwen-7B). Each model in the chain refines the previous answer
    via paper Table 2's refine template (approximated).
  icon: 🎼
  icon_background: '#DCE5FF'
  mode: workflow
  name: paper_si_YQD (workflow)
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start_node-to-llm_Y_step1
      source: start_node
      sourceHandle: source
      target: llm_Y_step1
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: llm_Y_step1-to-llm_Q_step2
      source: llm_Y_step1
      sourceHandle: source
      target: llm_Q_step2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: llm_Q_step2-to-llm_D_step3
      source: llm_Q_step2
      sourceHandle: source
      target: llm_D_step3
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: llm_D_step3-to-end_node
      source: llm_D_step3
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: User question routed to the paradigm topology.
        selected: false
        title: Start
        type: start
        variables:
        - label: question
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: question
      height: 90
      id: start_node
      position:
        x: 30
        y: 252
      positionAbsolute:
        x: 30
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Step 1 of SI chain — GLM-4-9B-Chat.
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: glm-4-9b-chat-q4k
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: ee142ee1-252a-5ec8-a69b-3941cc506087
          role: system
          text: You are a careful problem-solver. Read the question, reason step by
            step, and provide your final answer at the end of the reply.
        - id: c504d4e6-1c42-5077-90e7-a4d45a397704
          role: user
          text: '{{#start_node.question#}}'
        selected: false
        title: Y (step 1)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: llm_Y_step1
      position:
        x: 334
        y: 252
      positionAbsolute:
        x: 334
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Step 2 of SI chain — Qwen2.5-7B-Instruct.
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: qwen25-7b-instruct-q5km
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 8520504d-d6aa-5183-a5ab-62cea78eb554
          role: system
          text: You are a careful problem-solver. A peer model has produced a candidate
            answer to the same question. Read it, decide whether to keep or correct
            it, then provide your own final answer.
        - id: fcde0769-606b-521c-8433-a53daad137fe
          role: user
          text: 'Question:

            {{#start_node.question#}}


            A peer model proposed:

            {{#llm_Y_step1.text#}}


            Provide your own final answer:'
        selected: false
        title: Q (step 2)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: llm_Q_step2
      position:
        x: 638
        y: 252
      positionAbsolute:
        x: 638
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Step 3 of SI chain — DeepSeek-R1-Distill-Qwen-7B.
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.0
          mode: chat
          name: deepseek-r1-distill-qwen-7b-q4
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 557afc2d-9ad1-506a-a67c-3315a50bb765
          role: system
          text: You are a careful problem-solver. A peer model has produced a candidate
            answer to the same question. Read it, decide whether to keep or correct
            it, then provide your own final answer.
        - id: 305bdcfa-3849-5fba-81c5-9855a36638b3
          role: user
          text: 'Question:

            {{#start_node.question#}}


            A peer model proposed:

            {{#llm_Q_step2.text#}}


            Provide your own final answer:'
        selected: false
        title: D (step 3)
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: llm_D_step3
      position:
        x: 942
        y: 252
      positionAbsolute:
        x: 942
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Emit the paradigm's final answer.
        outputs:
        - value_selector:
          - llm_D_step3
          - text
          value_type: string
          variable: answer
        selected: false
        title: End
        type: end
      height: 90
      id: end_node
      position:
        x: 1246
        y: 252
      positionAbsolute:
        x: 1246
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
