docs/ModelNet/examples/workflow_mode/parallel_ensemble_trace_debugger.yml
app:
  description: 把 parallel-ensemble 的 inline trace 交给 Dify Code 节点提炼，直接输出 token step 摘要，便于演示候选集合、胜出 token 和耗时。
  icon: 🔎
  icon_background: '#DCE5FF'
  mode: workflow
  name: Parallel Ensemble Trace Debugger
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start_node-source-trace_qwen-target
      source: start_node
      sourceHandle: source
      target: trace_qwen
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: trace_qwen-source-trace_ensemble-target
      source: trace_qwen
      sourceHandle: source
      target: trace_ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start_node-source-trace_glm-target
      source: start_node
      sourceHandle: source
      target: trace_glm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: trace_glm-source-trace_ensemble-target
      source: trace_glm
      sourceHandle: source
      target: trace_ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start_node-source-trace_llama-target
      source: start_node
      sourceHandle: source
      target: trace_llama
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: trace_llama-source-trace_ensemble-target
      source: trace_llama
      sourceHandle: source
      target: trace_ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: code
      id: trace_ensemble-source-summarize_trace-target
      source: trace_ensemble
      sourceHandle: source
      target: summarize_trace
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: summarize_trace-source-end_node-target
      source: summarize_trace
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 输入一个问题，观察 token 级协作 trace。
        title: 开始
        variables:
        - label: 问题
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: question
        selected: false
        type: start
      height: 90
      id: start_node
      position:
        x: 30
        y: 300
      positionAbsolute:
        x: 30
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'qwen: model_alias=5, temperature=0.5, top_k=10; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '5'
        prompt_template: '{{#start_node.question#}}'
        raw_completion: false
        expose_raw_logits: true
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.5
          top_k: 10
          top_p: null
        title: Token Source (qwen)
        selected: false
        type: token-model-source
      height: 130
      id: trace_qwen
      position:
        x: 334
        y: 132
      positionAbsolute:
        x: 334
        y: 132
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'glm: model_alias=6, temperature=0.5, top_k=10; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '6'
        prompt_template: '{{#start_node.question#}}'
        raw_completion: false
        expose_raw_logits: true
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.5
          top_k: 10
          top_p: null
        title: Token Source (glm)
        selected: false
        type: token-model-source
      height: 130
      id: trace_glm
      position:
        x: 334
        y: 288
      positionAbsolute:
        x: 334
        y: 288
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'llama: model_alias=2, temperature=0.5, top_k=10; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '2'
        prompt_template: '{{#start_node.question#}}'
        raw_completion: false
        expose_raw_logits: true
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.5
          top_k: 10
          top_p: null
        title: Token Source (llama)
        selected: false
        type: token-model-source
      height: 130
      id: trace_llama
      position:
        x: 334
        y: 444
      positionAbsolute:
        x: 334
        y: 444
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 开启 inline trace，供下游 Code 节点直接读取 trace 对象。
        ensemble:
          aggregator_config:
            seed: null
            tau_k: 10
            tau_p: 0.75
            top_t: 1
            use_weights: false
          aggregator_name: duet_net
          diagnostics:
            enable_trace_stream: true
            include_aggregator_reasoning: true
            include_logits: true
            include_model_outputs: false
            include_per_backend_errors: true
            include_response_timings: true
            include_think_trace: false
            include_token_candidates: true
            max_trace_tokens: 256
            storage: inline
          runner_config:
            enable_think: false
            max_len: 192
          runner_name: token_step
          token_sources:
          - extra: {}
            fallback_weight: null
            source_id: qwen
            spec_selector:
            - trace_qwen
            - spec
            top_k_override: null
            weight: 1.0
          - extra: {}
            fallback_weight: null
            source_id: glm
            spec_selector:
            - trace_glm
            - spec
            top_k_override: null
            weight: 1.0
          - extra: {}
            fallback_weight: null
            source_id: llama
            spec_selector:
            - trace_llama
            - spec
            top_k_override: null
            weight: 1.0
        title: DuetNet + Inline Trace
        selected: false
        type: parallel-ensemble
      height: 200
      id: trace_ensemble
      position:
        x: 638
        y: 300
      positionAbsolute:
        x: 638
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          def main(answer: str, trace: dict, tokens_count: int, elapsed_ms: int) -> dict:
              trace = trace or {}
              steps = trace.get("token_trace") or trace.get("token_steps") or trace.get("steps") or []
              preview = []
              for step in steps[:8]:
                  if not isinstance(step, dict):
                      continue
                  preview.append({
                      "step": step.get("step"),
                      "selected_token": step.get("selected_token") or step.get("token"),
                      "score": step.get("score"),
                      "sources": sorted((step.get("per_model") or {}).keys()),
                  })
              summary = (
                  f"generated_tokens={tokens_count or 0}, elapsed_ms={elapsed_ms or 0}, "
                  f"trace_steps={len(steps)}, preview_steps={len(preview)}"
              )
              return {
                  "answer": answer or "",
                  "trace_summary": summary,
                  "first_steps": preview,
              }
        code_language: python3
        desc: 读取 ensemble.trace，输出适合展示的 trace_summary 和前 8 步预览。
        outputs:
          answer:
            children: null
            type: string
          trace_summary:
            children: null
            type: string
          first_steps:
            children: null
            type: array[object]
        title: 原生 Code：提炼 Trace
        variables:
        - value_selector:
          - trace_ensemble
          - text
          variable: answer
        - value_selector:
          - trace_ensemble
          - trace
          variable: trace
        - value_selector:
          - trace_ensemble
          - tokens_count
          variable: tokens_count
        - value_selector:
          - trace_ensemble
          - elapsed_ms
          variable: elapsed_ms
        selected: false
        type: code
      height: 154
      id: summarize_trace
      position:
        x: 942
        y: 300
      positionAbsolute:
        x: 942
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 输出答案、trace 摘要和前几步 token 选择。
        outputs:
        - value_selector:
          - summarize_trace
          - answer
          value_type: string
          variable: answer
        - value_selector:
          - summarize_trace
          - trace_summary
          value_type: string
          variable: trace_summary
        - value_selector:
          - summarize_trace
          - first_steps
          value_type: array[object]
          variable: first_steps
        title: 结束：答案 + Trace 摘要
        selected: false
        type: end
      height: 154
      id: end_node
      position:
        x: 1246
        y: 300
      positionAbsolute:
        x: 1246
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -40
      y: -20
      zoom: 0.66
