docs/ModelNet/examples/workflow_mode/parallel_ensemble_batch_eval.yml
app:
  description: 用 Dify Code 节点内置样本源，Iteration 逐条运行 parallel-ensemble，再用 Code 汇总命中率，展示新节点能嵌入批处理评测链路。
  icon: 📊
  icon_background: '#DCE5FF'
  mode: workflow
  name: Parallel Ensemble Batch Eval
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: start_node-source-sample_source-target
      source: start_node
      sourceHandle: source
      target: sample_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: sample_source-source-sample_iteration-target
      source: sample_source
      sourceHandle: source
      target: sample_iteration
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        sourceType: iteration-start
        targetType: code
        iteration_id: sample_iteration
      id: sample_iteration_start-source-prepare_sample-target
      source: sample_iteration_start
      sourceHandle: source
      target: prepare_sample
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        sourceType: code
        targetType: token-model-source
        iteration_id: sample_iteration
      id: prepare_sample-source-batch_qwen-target
      source: prepare_sample
      sourceHandle: source
      target: batch_qwen
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
        iteration_id: sample_iteration
      id: batch_qwen-source-batch_ensemble-target
      source: batch_qwen
      sourceHandle: source
      target: batch_ensemble
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        sourceType: code
        targetType: token-model-source
        iteration_id: sample_iteration
      id: prepare_sample-source-batch_glm-target
      source: prepare_sample
      sourceHandle: source
      target: batch_glm
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
        iteration_id: sample_iteration
      id: batch_glm-source-batch_ensemble-target
      source: batch_glm
      sourceHandle: source
      target: batch_ensemble
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: code
        iteration_id: sample_iteration
      id: batch_ensemble-source-evaluate_sample-target
      source: batch_ensemble
      sourceHandle: source
      target: evaluate_sample
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: sample_iteration-source-summarize_results-target
      source: sample_iteration
      sourceHandle: source
      target: summarize_results
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: summarize_results-source-end_node-target
      source: summarize_results
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 点击运行即可执行内置 3 条样本评测。
        title: 开始
        variables: []
        selected: false
        type: start
      height: 74
      id: start_node
      position:
        x: 30
        y: 380
      positionAbsolute:
        x: 30
        y: 380
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          def main() -> dict:
              items = [
                  {
                      "id": "demo-1",
                      "question": "用一句话解释 token-level collaboration。",
                      "keyword": "token",
                  },
                  {
                      "id": "demo-2",
                      "question": "为什么多模型并行投票能提升推理稳定性？",
                      "keyword": "投票",
                  },
                  {
                      "id": "demo-3",
                      "question": "给出一个适合 parallel-ensemble 的应用场景。",
                      "keyword": "模型",
                  },
              ]
              return {"items": items, "count": len(items)}
        code_language: python3
        desc: 生成小型自包含评测集，避免依赖外部 dataset/provider 配置。
        outputs:
          items:
            children: null
            type: array[object]
          count:
            children: null
            type: number
        title: 原生 Code：内置样本源
        variables: []
        selected: false
        type: code
      height: 154
      id: sample_source
      position:
        x: 334
        y: 356
      positionAbsolute:
        x: 334
        y: 356
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 逐样本运行 token 级多模型协作，并把每条样本的评测对象收集成数组。
        error_handle_mode: terminated
        flatten_output: true
        height: 650
        is_parallel: false
        iterator_input_type: array[object]
        iterator_selector:
        - sample_source
        - items
        output_selector:
        - evaluate_sample
        - result
        output_type: array[object]
        parallel_nums: 2
        start_node_id: sample_iteration_start
        title: 原生 Iteration：逐样本评测
        width: 1220
        selected: false
        type: iteration
      height: 650
      id: sample_iteration
      position:
        x: 638
        y: 80
      positionAbsolute:
        x: 638
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1220
      zIndex: 1
    - data:
        desc: 样本级迭代起点。
        isInIteration: true
        title: ''
        selected: false
        type: iteration-start
      height: 48
      id: sample_iteration_start
      position:
        x: 32
        y: 300
      positionAbsolute:
        x: 670
        y: 380
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      parentId: sample_iteration
      zIndex: 1002
      draggable: false
      selectable: false
    - data:
        code: |
          def main(item: dict) -> dict:
              item = item or {}
              prompt = (
                  "请回答下面的问题。答案需要简短，并保留关键概念。\n\n"
                  f"问题：{item.get('question', '')}"
              )
              return {
                  "sample_id": str(item.get("id", "")),
                  "prompt": prompt,
                  "keyword": str(item.get("keyword", "")),
                  "question": str(item.get("question", "")),
              }
        code_language: python3
        desc: 把当前 iteration item 整理为 prompt、sample_id 和评测 keyword。
        outputs:
          sample_id:
            children: null
            type: string
          prompt:
            children: null
            type: string
          keyword:
            children: null
            type: string
          question:
            children: null
            type: string
        title: 原生 Code：准备样本 Prompt
        variables:
        - value_selector:
          - sample_iteration
          - item
          variable: item
        isInIteration: true
        isInLoop: false
        iteration_id: sample_iteration
        selected: false
        type: code
      height: 154
      id: prepare_sample
      position:
        x: 112
        y: 260
      positionAbsolute:
        x: 750
        y: 340
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      parentId: sample_iteration
      zIndex: 1002
    - data:
        desc: 'qwen: model_alias=5, temperature=0.4, top_k=8; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '5'
        prompt_template: '{{#prepare_sample.prompt#}}'
        raw_completion: false
        expose_raw_logits: null
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.4
          top_k: 8
          top_p: null
        title: Token Source (qwen)
        isInIteration: true
        isInLoop: false
        iteration_id: sample_iteration
        selected: false
        type: token-model-source
      height: 130
      id: batch_qwen
      position:
        x: 414
        y: 172
      positionAbsolute:
        x: 1052
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      parentId: sample_iteration
      zIndex: 1002
    - data:
        desc: 'glm: model_alias=6, temperature=0.4, top_k=8; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '6'
        prompt_template: '{{#prepare_sample.prompt#}}'
        raw_completion: false
        expose_raw_logits: null
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.4
          top_k: 8
          top_p: null
        title: Token Source (glm)
        isInIteration: true
        isInLoop: false
        iteration_id: sample_iteration
        selected: false
        type: token-model-source
      height: 130
      id: batch_glm
      position:
        x: 414
        y: 328
      positionAbsolute:
        x: 1052
        y: 408
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      parentId: sample_iteration
      zIndex: 1002
    - data:
        desc: 每条样本内部运行两个 token source 的加权概率投票。
        ensemble:
          aggregator_config:
            skip_empty_voters: true
            use_weights: true
          aggregator_name: sum_score
          diagnostics:
            enable_trace_stream: false
            include_aggregator_reasoning: false
            include_logits: false
            include_model_outputs: false
            include_per_backend_errors: true
            include_response_timings: true
            include_think_trace: false
            include_token_candidates: false
            max_trace_tokens: 128
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 160
          runner_name: token_step
          token_sources:
          - extra: {}
            fallback_weight: null
            source_id: qwen
            spec_selector:
            - batch_qwen
            - spec
            top_k_override: null
            weight: 1.0
          - extra: {}
            fallback_weight: null
            source_id: glm
            spec_selector:
            - batch_glm
            - spec
            top_k_override: null
            weight: 1.0
        title: 样本内协作：sum_score
        isInIteration: true
        isInLoop: false
        iteration_id: sample_iteration
        selected: false
        type: parallel-ensemble
      height: 200
      id: batch_ensemble
      position:
        x: 716
        y: 260
      positionAbsolute:
        x: 1354
        y: 340
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      parentId: sample_iteration
      zIndex: 1002
    - data:
        code: |
          def main(sample_id: str, question: str, keyword: str, answer: str, tokens_count: int) -> dict:
              hit = bool(keyword) and keyword.lower() in (answer or "").lower()
              result = {
                  "sample_id": sample_id or "",
                  "question": question or "",
                  "keyword": keyword or "",
                  "hit": hit,
                  "answer": answer or "",
                  "tokens_count": tokens_count or 0,
              }
              return {"hit": hit, "result": result}
        code_language: python3
        desc: 检查答案是否包含样本 keyword，输出结构化 result。
        outputs:
          hit:
            children: null
            type: boolean
          result:
            children: null
            type: object
        title: 原生 Code：样本评分
        variables:
        - value_selector:
          - prepare_sample
          - sample_id
          variable: sample_id
        - value_selector:
          - prepare_sample
          - question
          variable: question
        - value_selector:
          - prepare_sample
          - keyword
          variable: keyword
        - value_selector:
          - batch_ensemble
          - text
          variable: answer
        - value_selector:
          - batch_ensemble
          - tokens_count
          variable: tokens_count
        isInIteration: true
        isInLoop: false
        iteration_id: sample_iteration
        selected: false
        type: code
      height: 154
      id: evaluate_sample
      position:
        x: 934
        y: 260
      positionAbsolute:
        x: 1572
        y: 340
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      parentId: sample_iteration
      zIndex: 1002
    - data:
        code: |
          def main(results: list, total: int) -> dict:
              rows = results or []
              hits = sum(1 for row in rows if isinstance(row, dict) and row.get("hit"))
              evaluated = len(rows)
              hit_rate = hits / evaluated if evaluated else 0.0
              return {
                  "evaluated": evaluated,
                  "hits": hits,
                  "hit_rate": hit_rate,
                  "expected_total": total or evaluated,
              }
        code_language: python3
        desc: 汇总 iteration 输出，计算 hit_rate。
        outputs:
          evaluated:
            children: null
            type: number
          hits:
            children: null
            type: number
          hit_rate:
            children: null
            type: number
          expected_total:
            children: null
            type: number
        title: 原生 Code：汇总评测
        variables:
        - value_selector:
          - sample_iteration
          - output
          variable: results
        - value_selector:
          - sample_source
          - count
          variable: total
        selected: false
        type: code
      height: 154
      id: summarize_results
      position:
        x: 1920
        y: 356
      positionAbsolute:
        x: 1920
        y: 356
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 输出逐样本结果和汇总指标。
        outputs:
        - value_selector:
          - sample_iteration
          - output
          value_type: array[object]
          variable: results
        - value_selector:
          - summarize_results
          - evaluated
          value_type: number
          variable: evaluated
        - value_selector:
          - summarize_results
          - hits
          value_type: number
          variable: hits
        - value_selector:
          - summarize_results
          - hit_rate
          value_type: number
          variable: hit_rate
        title: 结束：批处理结果
        selected: false
        type: end
      height: 172
      id: end_node
      position:
        x: 2224
        y: 356
      positionAbsolute:
        x: 2224
        y: 356
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -120
      y: 20
      zoom: 0.56
