docs/ModelNet/examples/workflow_mode/parallel_ensemble_self_consistency_native.yml
app:
  description: 用同一个 model_alias 构造三个不同温度的 token-model-source，展示 source_id 与 model_alias 解耦后可做同模型自一致性投票。
  icon: 🎛️
  icon_background: '#DCE5FF'
  mode: workflow
  name: Parallel Ensemble Self Consistency
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: start_node-source-normalize_question-target
      source: start_node
      sourceHandle: source
      target: normalize_question
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: token-model-source
      id: normalize_question-source-qwen_t02-target
      source: normalize_question
      sourceHandle: source
      target: qwen_t02
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: qwen_t02-source-ensemble-target
      source: qwen_t02
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: token-model-source
      id: normalize_question-source-qwen_t07-target
      source: normalize_question
      sourceHandle: source
      target: qwen_t07
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: qwen_t07-source-ensemble-target
      source: qwen_t07
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: token-model-source
      id: normalize_question-source-qwen_t10-target
      source: normalize_question
      sourceHandle: source
      target: qwen_t10
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: qwen_t10-source-ensemble-target
      source: qwen_t10
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: code
      id: ensemble-source-format_report-target
      source: ensemble
      sourceHandle: source
      target: format_report
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: format_report-source-end_node-target
      source: format_report
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 输入一个适合多路径采样的问题。
        title: 开始
        variables:
        - label: 问题
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: question
        selected: false
        type: start
      height: 90
      id: start_node
      position:
        x: 30
        y: 300
      positionAbsolute:
        x: 30
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          def main(question: str) -> dict:
              clean = (question or "").strip()
              prompt = (
                  "请独立推理并给出最终答案。若有不确定性，请保留关键判断依据。\n\n"
                  f"问题：{clean}"
              )
              return {"prompt": prompt, "question": clean}
        code_language: python3
        desc: 统一补充自一致性提示词，让三个 source 只在采样参数上变化。
        outputs:
          prompt:
            children: null
            type: string
          question:
            children: null
            type: string
        title: 原生 Code：规范化问题
        variables:
        - value_selector:
          - start_node
          - question
          variable: question
        selected: false
        type: code
      height: 154
      id: normalize_question
      position:
        x: 334
        y: 300
      positionAbsolute:
        x: 334
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'qwen_t02: model_alias=5, temperature=0.2, top_k=10; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '5'
        prompt_template: '{{#normalize_question.prompt#}}'
        raw_completion: false
        expose_raw_logits: null
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.2
          top_k: 10
          top_p: null
        title: Token Source (qwen_t02)
        selected: false
        type: token-model-source
      height: 130
      id: qwen_t02
      position:
        x: 638
        y: 132
      positionAbsolute:
        x: 638
        y: 132
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'qwen_t07: model_alias=5, temperature=0.7, top_k=10; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '5'
        prompt_template: '{{#normalize_question.prompt#}}'
        raw_completion: false
        expose_raw_logits: null
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.7
          top_k: 10
          top_p: null
        title: Token Source (qwen_t07)
        selected: false
        type: token-model-source
      height: 130
      id: qwen_t07
      position:
        x: 638
        y: 288
      positionAbsolute:
        x: 638
        y: 288
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'qwen_t10: model_alias=5, temperature=1.0, top_k=10; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '5'
        prompt_template: '{{#normalize_question.prompt#}}'
        raw_completion: false
        expose_raw_logits: null
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 1.0
          top_k: 10
          top_p: null
        title: Token Source (qwen_t10)
        selected: false
        type: token-model-source
      height: 130
      id: qwen_t10
      position:
        x: 638
        y: 444
      positionAbsolute:
        x: 638
        y: 444
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 三个 source 使用相同 model_alias=5，但 source_id 和温度不同，sum_score 聚合每步 token。
        ensemble:
          aggregator_config:
            skip_empty_voters: true
            use_weights: true
          aggregator_name: sum_score
          diagnostics:
            enable_trace_stream: false
            include_aggregator_reasoning: true
            include_logits: false
            include_model_outputs: false
            include_per_backend_errors: true
            include_response_timings: true
            include_think_trace: false
            include_token_candidates: true
            max_trace_tokens: 512
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 320
          runner_name: token_step
          token_sources:
          - extra: {}
            fallback_weight: null
            source_id: qwen_t02
            spec_selector:
            - qwen_t02
            - spec
            top_k_override: null
            weight: 1.2
          - extra: {}
            fallback_weight: null
            source_id: qwen_t07
            spec_selector:
            - qwen_t07
            - spec
            top_k_override: null
            weight: 1.0
          - extra: {}
            fallback_weight: null
            source_id: qwen_t10
            spec_selector:
            - qwen_t10
            - spec
            top_k_override: null
            weight: 0.8
        title: 同模型自一致性投票
        selected: false
        type: parallel-ensemble
      height: 200
      id: ensemble
      position:
        x: 942
        y: 300
      positionAbsolute:
        x: 942
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          def main(answer: str, question: str, tokens_count: int) -> dict:
              config = [
                  {"source_id": "qwen_t02", "model_alias": "5", "temperature": 0.2, "weight": 1.2},
                  {"source_id": "qwen_t07", "model_alias": "5", "temperature": 0.7, "weight": 1.0},
                  {"source_id": "qwen_t10", "model_alias": "5", "temperature": 1.0, "weight": 0.8},
              ]
              return {
                  "answer": answer or "",
                  "question": question or "",
                  "tokens_count": tokens_count or 0,
                  "self_consistency_config": config,
              }
        code_language: python3
        desc: 把最终答案和三个 source 的自一致性配置一起输出。
        outputs:
          answer:
            children: null
            type: string
          question:
            children: null
            type: string
          tokens_count:
            children: null
            type: number
          self_consistency_config:
            children: null
            type: array[object]
        title: 原生 Code：输出配置说明
        variables:
        - value_selector:
          - ensemble
          - text
          variable: answer
        - value_selector:
          - normalize_question
          - question
          variable: question
        - value_selector:
          - ensemble
          - tokens_count
          variable: tokens_count
        selected: false
        type: code
      height: 154
      id: format_report
      position:
        x: 1246
        y: 300
      positionAbsolute:
        x: 1246
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 输出答案和同模型多 source 配置。
        outputs:
        - value_selector:
          - format_report
          - answer
          value_type: string
          variable: answer
        - value_selector:
          - format_report
          - self_consistency_config
          value_type: array[object]
          variable: self_consistency_config
        - value_selector:
          - format_report
          - tokens_count
          value_type: number
          variable: tokens_count
        title: 结束：自一致性答案
        selected: false
        type: end
      height: 154
      id: end_node
      position:
        x: 1550
        y: 300
      positionAbsolute:
        x: 1550
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -80
      y: -20
      zoom: 0.62
