docs/ModelNet/examples/workflow_mode/parallel_ensemble_router.yml
app:
  description: 用 Dify 原生 IF/ELSE 节点把问题路由到两套 token 级多模型协作链路：精确推理走 DuetNet raw-logit 聚合，开放问答走 sum_score 加权投票。
  icon: 🔀
  icon_background: '#DCE5FF'
  mode: workflow
  name: Parallel Ensemble Router
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: start_node-source-route_mode-target
      source: start_node
      sourceHandle: source
      target: route_mode
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
      id: route_mode-true-precise_qwen-target
      source: route_mode
      sourceHandle: 'true'
      target: precise_qwen
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: precise_qwen-source-precise_ensemble-target
      source: precise_qwen
      sourceHandle: source
      target: precise_ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
      id: route_mode-true-precise_glm-target
      source: route_mode
      sourceHandle: 'true'
      target: precise_glm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: precise_glm-source-precise_ensemble-target
      source: precise_glm
      sourceHandle: source
      target: precise_ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
      id: route_mode-true-precise_llama-target
      source: route_mode
      sourceHandle: 'true'
      target: precise_llama
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: precise_llama-source-precise_ensemble-target
      source: precise_llama
      sourceHandle: source
      target: precise_ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: end
      id: precise_ensemble-source-end_precise-target
      source: precise_ensemble
      sourceHandle: source
      target: end_precise
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
      id: route_mode-false-creative_qwen-target
      source: route_mode
      sourceHandle: 'false'
      target: creative_qwen
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: creative_qwen-source-creative_ensemble-target
      source: creative_qwen
      sourceHandle: source
      target: creative_ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
      id: route_mode-false-creative_glm-target
      source: route_mode
      sourceHandle: 'false'
      target: creative_glm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: creative_glm-source-creative_ensemble-target
      source: creative_glm
      sourceHandle: source
      target: creative_ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: token-model-source
      id: route_mode-false-creative_hunyuan-target
      source: route_mode
      sourceHandle: 'false'
      target: creative_hunyuan
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: creative_hunyuan-source-creative_ensemble-target
      source: creative_hunyuan
      sourceHandle: source
      target: creative_ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: end
      id: creative_ensemble-source-end_creative-target
      source: creative_ensemble
      sourceHandle: source
      target: end_creative
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 输入问题并选择路由策略。
        title: 开始
        variables:
        - label: 任务类型
          max_length: 128
          options:
          - precise
          - creative
          required: true
          type: select
          variable: task_type
        - label: 问题
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: question
        selected: false
        type: start
      height: 112
      id: start_node
      position:
        x: 30
        y: 320
      positionAbsolute:
        x: 30
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: precise 进入 raw-logit DuetNet；其他任务进入开放式加权投票。
        _targetBranches:
        - id: 'true'
          name: precise
        - id: 'false'
          name: creative
        cases:
        - case_id: 'true'
          logical_operator: and
          conditions:
          - id: cond_task_type_precise
            varType: string
            variable_selector:
            - start_node
            - task_type
            comparison_operator: is
            value: precise
        isInIteration: false
        isInLoop: false
        title: 路由：任务类型
        selected: false
        type: if-else
      height: 126
      id: route_mode
      position:
        x: 334
        y: 320
      positionAbsolute:
        x: 334
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'qwen_precise: model_alias=5, temperature=0.2, top_k=10; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '5'
        prompt_template: '请给出严谨、可核验、尽量简短的回答。


          问题：{{#start_node.question#}}'
        raw_completion: false
        expose_raw_logits: true
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.2
          top_k: 10
          top_p: null
        title: Token Source (qwen_precise)
        selected: false
        type: token-model-source
      height: 130
      id: precise_qwen
      position:
        x: 638
        y: 104
      positionAbsolute:
        x: 638
        y: 104
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'glm_precise: model_alias=6, temperature=0.2, top_k=10; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '6'
        prompt_template: '请给出严谨、可核验、尽量简短的回答。


          问题：{{#start_node.question#}}'
        raw_completion: false
        expose_raw_logits: true
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.2
          top_k: 10
          top_p: null
        title: Token Source (glm_precise)
        selected: false
        type: token-model-source
      height: 130
      id: precise_glm
      position:
        x: 638
        y: 260
      positionAbsolute:
        x: 638
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'llama_precise: model_alias=2, temperature=0.2, top_k=10; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '2'
        prompt_template: '请给出严谨、可核验、尽量简短的回答。


          问题：{{#start_node.question#}}'
        raw_completion: false
        expose_raw_logits: true
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.2
          top_k: 10
          top_p: null
        title: Token Source (llama_precise)
        selected: false
        type: token-model-source
      height: 130
      id: precise_llama
      position:
        x: 638
        y: 416
      positionAbsolute:
        x: 638
        y: 416
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 使用 DuetNet 的 tau_K/tau_P 截断与 raw-logit 累加，适合数学、选择题、事实核验类任务。
        ensemble:
          aggregator_config:
            seed: null
            tau_k: 10
            tau_p: 0.65
            top_t: 1
            use_weights: false
          aggregator_name: duet_net
          diagnostics:
            enable_trace_stream: false
            include_aggregator_reasoning: true
            include_logits: true
            include_model_outputs: false
            include_per_backend_errors: true
            include_response_timings: true
            include_think_trace: false
            include_token_candidates: true
            max_trace_tokens: 512
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 256
          runner_name: token_step
          token_sources:
          - extra: {}
            fallback_weight: null
            source_id: qwen_precise
            spec_selector:
            - precise_qwen
            - spec
            top_k_override: null
            weight: 1.0
          - extra: {}
            fallback_weight: null
            source_id: glm_precise
            spec_selector:
            - precise_glm
            - spec
            top_k_override: null
            weight: 1.0
          - extra: {}
            fallback_weight: null
            source_id: llama_precise
            spec_selector:
            - precise_llama
            - spec
            top_k_override: null
            weight: 1.0
        title: 精确推理：DuetNet
        selected: false
        type: parallel-ensemble
      height: 200
      id: precise_ensemble
      position:
        x: 942
        y: 256
      positionAbsolute:
        x: 942
        y: 256
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 输出 DuetNet 分支答案。
        outputs:
        - value_selector:
          - precise_ensemble
          - text
          value_type: string
          variable: answer
        - value_selector:
          - precise_ensemble
          - tokens_count
          value_type: number
          variable: tokens_count
        title: 结束：精确答案
        selected: false
        type: end
      height: 130
      id: end_precise
      position:
        x: 1246
        y: 256
      positionAbsolute:
        x: 1246
        y: 256
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'qwen_creative: model_alias=5, temperature=0.9, top_k=12; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '5'
        prompt_template: '请给出有启发性、结构清晰的开放式回答，可以提出多角度观点。


          问题：{{#start_node.question#}}'
        raw_completion: false
        expose_raw_logits: null
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.9
          top_k: 12
          top_p: null
        title: Token Source (qwen_creative)
        selected: false
        type: token-model-source
      height: 130
      id: creative_qwen
      position:
        x: 638
        y: 560
      positionAbsolute:
        x: 638
        y: 560
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'glm_creative: model_alias=6, temperature=0.9, top_k=12; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '6'
        prompt_template: '请给出有启发性、结构清晰的开放式回答，可以提出多角度观点。


          问题：{{#start_node.question#}}'
        raw_completion: false
        expose_raw_logits: null
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.9
          top_k: 12
          top_p: null
        title: Token Source (glm_creative)
        selected: false
        type: token-model-source
      height: 130
      id: creative_glm
      position:
        x: 638
        y: 716
      positionAbsolute:
        x: 638
        y: 716
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'hunyuan_creative: model_alias=23, temperature=1.0, top_k=12; 输出 ModelInvocationSpec。'
        extra: {}
        inline_spec: null
        model_alias: '23'
        prompt_template: '请给出有启发性、结构清晰的开放式回答，可以提出多角度观点。


          问题：{{#start_node.question#}}'
        raw_completion: false
        expose_raw_logits: null
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 1.0
          top_k: 12
          top_p: null
        title: Token Source (hunyuan_creative)
        selected: false
        type: token-model-source
      height: 130
      id: creative_hunyuan
      position:
        x: 638
        y: 872
      positionAbsolute:
        x: 638
        y: 872
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 用概率分数加权投票，保留多个模型的开放生成倾向。
        ensemble:
          aggregator_config:
            skip_empty_voters: true
            use_weights: true
          aggregator_name: sum_score
          diagnostics:
            enable_trace_stream: false
            include_aggregator_reasoning: true
            include_logits: false
            include_model_outputs: false
            include_per_backend_errors: true
            include_response_timings: true
            include_think_trace: false
            include_token_candidates: true
            max_trace_tokens: 512
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 384
          runner_name: token_step
          token_sources:
          - extra: {}
            fallback_weight: null
            source_id: qwen_creative
            spec_selector:
            - creative_qwen
            - spec
            top_k_override: null
            weight: 1.0
          - extra: {}
            fallback_weight: null
            source_id: glm_creative
            spec_selector:
            - creative_glm
            - spec
            top_k_override: null
            weight: 1.0
          - extra: {}
            fallback_weight: null
            source_id: hunyuan_creative
            spec_selector:
            - creative_hunyuan
            - spec
            top_k_override: null
            weight: 0.8
        title: 开放问答：sum_score
        selected: false
        type: parallel-ensemble
      height: 200
      id: creative_ensemble
      position:
        x: 942
        y: 712
      positionAbsolute:
        x: 942
        y: 712
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 输出开放问答分支答案。
        outputs:
        - value_selector:
          - creative_ensemble
          - text
          value_type: string
          variable: answer
        - value_selector:
          - creative_ensemble
          - tokens_count
          value_type: number
          variable: tokens_count
        title: 结束：开放答案
        selected: false
        type: end
      height: 130
      id: end_creative
      position:
        x: 1246
        y: 712
      positionAbsolute:
        x: 1246
        y: 712
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -70
      y: -40
      zoom: 0.58
