docs/ModelNet/examples/workflow_mode/test_data_loader_ceval.yml
app:
  description: 'Test workflow: load C-Eval JSONL via Data Loader node and output
    first batch. Used to verify JSONL format compatibility with Dify''s jsonl_file
    loader.'
  icon: "\U0001F9EA"
  icon_background: '#E4FBCC'
  mode: workflow
  name: test_data_loader_ceval
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: data-loader
      id: start-to-loader
      source: start_node
      sourceHandle: source
      target: data_loader
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: data-loader
        targetType: end
      id: loader-to-end
      source: data_loader
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 90
      id: start_node
      position:
        x: 30
        y: 252
      positionAbsolute:
        x: 30
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Load C-Eval JSONL via jsonl_file loader. Verifies data format compatibility.
        loader_name: jsonl_file
        loader_config:
          path: /home/duxianghe/dify/dev/modelnet/datasets/c_eval.jsonl
          dataset_name: c_eval
          split: val
          question_key: question
          answer_key: answer
          id_key: id
          metadata_keys:
          - subject
          - extractor
        limit: 5
        offset: 0
        shuffle: false
        seed: null
        selected: false
        title: Data Loader (C-Eval)
        type: data-loader
      height: 130
      id: data_loader
      position:
        x: 334
        y: 252
      positionAbsolute:
        x: 334
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Output loaded dataset items.
        outputs:
        - value_selector:
          - data_loader
          - dataset
          value_type: string
          variable: dataset
        - value_selector:
          - data_loader
          - count
          value_type: number
          variable: count
        - value_selector:
          - data_loader
          - total
          value_type: number
          variable: total
        - value_selector:
          - data_loader
          - items
          value_type: array[object]
          variable: items
        - value_selector:
          - data_loader
          - questions
          value_type: array[string]
          variable: questions
        - value_selector:
          - data_loader
          - answers
          value_type: array[string]
          variable: answers
        selected: false
        title: End
        type: end
      height: 180
      id: end_node
      position:
        x: 638
        y: 252
      positionAbsolute:
        x: 638
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
