docs/ModelNet/examples/workflow_mode/token_level_collaborative_reasoning_for_parallel_multi_models/duet_net_main.yml
app:
  description: 'DuetNet main-method reference for "Token-Level Collaborative Reasoning
    for Parallel Multi-Models" (Wang et al., 2025).


    This workflow recreates Algorithm 1 with the current ModelNet workflow nodes:
    Start -> 4 x token-model-source -> parallel-ensemble(token_step + duet_net)
    -> End.


    The token-model-source nodes render the shared prompt omega and emit one
    ModelInvocationSpec per model. The parallel-ensemble node drives the per-token
    loop: joint tau_K/tau_P truncation, raw-logit aggregation over the candidate
    union, and Top-T token selection. Defaults mirror the paper setup: tau_K=10,
    tau_P=0.75, T=1, max_len=512.


    Logical labels map to api/configs/model_net.yaml aliases: q1=38, q2=5,
    g4=6, L3=2. These aliases must expose raw logits because duet_net checks
    Capability.LOGITS_RAW at runtime.'
  icon: 🎵
  icon_background: '#DCE5FF'
  mode: workflow
  name: duet_net_main (workflow)
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start-to-q1
      source: start_node
      sourceHandle: source
      target: q1_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start-to-q2
      source: start_node
      sourceHandle: source
      target: q2_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start-to-g4
      source: start_node
      sourceHandle: source
      target: g4_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: token-model-source
      id: start-to-L3
      source: start_node
      sourceHandle: source
      target: L3_source
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: q1-to-ensemble
      source: q1_source
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: q2-to-ensemble
      source: q2_source
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: g4-to-ensemble
      source: g4_source
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: token-model-source
        targetType: parallel-ensemble
      id: L3-to-ensemble
      source: L3_source
      sourceHandle: source
      target: ensemble
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parallel-ensemble
        targetType: end
      id: ensemble-to-end
      source: ensemble
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Input omega in Algorithm 1, shared by all parallel models.
        selected: false
        title: Start
        type: start
        variables:
        - label: question
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: question
      height: 90
      id: start_node
      position:
        x: 30
        y: 320
      positionAbsolute:
        x: 30
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Model m=1, q1, model_alias=38. Renders omega and emits a ModelInvocationSpec.
        extra: {}
        inline_spec: null
        model_alias: '38'
        prompt_template: '{{#start_node.question#}}'
        raw_completion: false
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.7
          top_k: 10
          top_p: null
        selected: false
        title: Token Source m=1 (q1)
        type: token-model-source
      height: 130
      id: q1_source
      position:
        x: 334
        y: 24
      positionAbsolute:
        x: 334
        y: 24
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Model m=2, q2, model_alias=5. Renders omega and emits a ModelInvocationSpec.
        extra: {}
        inline_spec: null
        model_alias: '5'
        prompt_template: '{{#start_node.question#}}'
        raw_completion: false
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.7
          top_k: 10
          top_p: null
        selected: false
        title: Token Source m=2 (q2)
        type: token-model-source
      height: 130
      id: q2_source
      position:
        x: 334
        y: 220
      positionAbsolute:
        x: 334
        y: 220
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Model m=3, g4, model_alias=6. Renders omega and emits a ModelInvocationSpec.
        extra: {}
        inline_spec: null
        model_alias: '6'
        prompt_template: '{{#start_node.question#}}'
        raw_completion: false
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.7
          top_k: 10
          top_p: null
        selected: false
        title: Token Source m=3 (g4)
        type: token-model-source
      height: 130
      id: g4_source
      position:
        x: 334
        y: 416
      positionAbsolute:
        x: 334
        y: 416
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Model m=4, L3, model_alias=2. Renders omega and emits a ModelInvocationSpec.
        extra: {}
        inline_spec: null
        model_alias: '2'
        prompt_template: '{{#start_node.question#}}'
        raw_completion: false
        sampling_params:
          max_tokens: 1024
          seed: null
          stop: []
          temperature: 0.7
          top_k: 10
          top_p: null
        selected: false
        title: Token Source m=4 (L3)
        type: token-model-source
      height: 130
      id: L3_source
      position:
        x: 334
        y: 612
      positionAbsolute:
        x: 334
        y: 612
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: DuetNet executor for Algorithm 1. Per token step, it applies joint
          tau_K/tau_P truncation, sums raw logits on the candidate union, and
          selects from the Top-T cumulative-logit candidates.
        ensemble:
          aggregator_config:
            seed: null
            tau_k: 10
            tau_p: 0.75
            top_t: 1
            use_weights: false
          aggregator_name: duet_net
          diagnostics:
            enable_trace_stream: false
            include_aggregator_reasoning: true
            include_logits: true
            include_model_outputs: false
            include_per_backend_errors: true
            include_response_timings: true
            include_think_trace: false
            include_token_candidates: true
            max_trace_tokens: 2000
            storage: metadata
          runner_config:
            enable_think: false
            max_len: 512
          runner_name: token_step
          token_sources:
          - extra: {}
            fallback_weight: null
            source_id: q1
            spec_selector:
            - q1_source
            - spec
            top_k_override: null
            weight: 1.0
          - extra: {}
            fallback_weight: null
            source_id: q2
            spec_selector:
            - q2_source
            - spec
            top_k_override: null
            weight: 1.0
          - extra: {}
            fallback_weight: null
            source_id: g4
            spec_selector:
            - g4_source
            - spec
            top_k_override: null
            weight: 1.0
          - extra: {}
            fallback_weight: null
            source_id: L3
            spec_selector:
            - L3_source
            - spec
            top_k_override: null
            weight: 1.0
        selected: false
        title: Parallel Ensemble (DuetNet)
        type: parallel-ensemble
      height: 200
      id: ensemble
      position:
        x: 638
        y: 320
      positionAbsolute:
        x: 638
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Output A in Algorithm 1. Metadata contains the DuetNet trace for
          inspecting candidate sets, cumulative logits, and selected tokens.
        outputs:
        - value_selector:
          - ensemble
          - text
          value_type: string
          variable: answer
        - value_selector:
          - ensemble
          - metadata
          value_type: object
          variable: metadata
        selected: false
        title: End
        type: end
      height: 116
      id: end_node
      position:
        x: 942
        y: 320
      positionAbsolute:
        x: 942
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
