docs/ModelNet/examples/workflow_mode/token_level_collaborative_reasoning_for_parallel_multi_models/duet_net_main_loop_dataset_zh.yml
app:
  description: >-
    《Token-Level Collaborative Reasoning for Parallel Multi-Models》 的 DuetNet 中文复现 DSL。


    本版本使用 data-loader 从本地 C-Eval JSONL 数据集可复现随机抽取 100 条样本，再用外层 Iteration 遍历样本。


    每个样本内部保留四个 token-model-source 节点，用标准节点面板分别产出四个 ModelInvocationSpec；不再使用外层 Dify token
    Loop。parallel-ensemble 的 token_step runner 在节点内部完成 token 级自回归：prompt -> token1 -> token2 -> ...
    -> EOS/max_len。


    评测汇总在 Iteration 外一次性完成，输出 results、correct_count、total_evaluated 和 accuracy。
  icon: 🔁
  icon_background: '#DCE5FF'
  mode: workflow
  name: DuetNet token_step + token-source + 100题抽样评测
  use_icon_as_answer_icon: false
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: data-loader
        id: start-to-sample-loader
        source: start_node
        sourceHandle: source
        target: sample_loader
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: data-loader
          targetType: iteration
        id: sample-loader-to-sample-iteration
        source: sample_loader
        sourceHandle: source
        target: sample_iteration
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          sourceType: iteration-start
          targetType: code
        id: sample-iteration-start-to-prepare-sample
        source: sample_iteration_start
        sourceHandle: source
        target: prepare_sample
        targetHandle: target
        type: custom
        zIndex: 1002
      - data:
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          sourceType: code
          targetType: token-model-source
        id: prepare-sample-to-q1
        source: prepare_sample
        sourceHandle: source
        target: q1_source
        targetHandle: target
        type: custom
        zIndex: 1002
      - data:
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          sourceType: code
          targetType: token-model-source
        id: prepare-sample-to-q2
        source: prepare_sample
        sourceHandle: source
        target: q2_source
        targetHandle: target
        type: custom
        zIndex: 1002
      - data:
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          sourceType: code
          targetType: token-model-source
        id: prepare-sample-to-g4
        source: prepare_sample
        sourceHandle: source
        target: g4_source
        targetHandle: target
        type: custom
        zIndex: 1002
      - data:
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          sourceType: code
          targetType: token-model-source
        id: prepare-sample-to-L3
        source: prepare_sample
        sourceHandle: source
        target: L3_source
        targetHandle: target
        type: custom
        zIndex: 1002
      - data:
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          sourceType: token-model-source
          targetType: parallel-ensemble
        id: q1-to-token-vote
        source: q1_source
        sourceHandle: source
        target: token_vote
        targetHandle: target
        type: custom
        zIndex: 1002
      - data:
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          sourceType: token-model-source
          targetType: parallel-ensemble
        id: q2-to-token-vote
        source: q2_source
        sourceHandle: source
        target: token_vote
        targetHandle: target
        type: custom
        zIndex: 1002
      - data:
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          sourceType: token-model-source
          targetType: parallel-ensemble
        id: g4-to-token-vote
        source: g4_source
        sourceHandle: source
        target: token_vote
        targetHandle: target
        type: custom
        zIndex: 1002
      - data:
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          sourceType: token-model-source
          targetType: parallel-ensemble
        id: L3-to-token-vote
        source: L3_source
        sourceHandle: source
        target: token_vote
        targetHandle: target
        type: custom
        zIndex: 1002
      - data:
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          sourceType: parallel-ensemble
          targetType: code
        id: token-vote-to-evaluate-answer
        source: token_vote
        sourceHandle: source
        target: evaluate_answer
        targetHandle: target
        type: custom
        zIndex: 1002
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: iteration
          targetType: code
        id: sample-iteration-to-summarize-results
        source: sample_iteration
        sourceHandle: source
        target: summarize_results
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: end
        id: summarize-results-to-end
        source: summarize_results
        sourceHandle: source
        target: end_node
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          desc: 工作流入口。本版本默认从数据加载器读取评测样本，因此不需要用户手动输入问题。
          selected: false
          title: 开始
          type: start
          variables: []
        height: 74
        id: start_node
        position:
          x: 30
          'y': 420
        positionAbsolute:
          x: 30
          'y': 420
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: 从本地 C-Eval JSONL 文件可复现随机抽取 100 条标准化评测样本，输出 items、questions、answers 和元数据。
          loader_name: jsonl_file
          loader_config:
            path: /home/duxianghe/dify/dev/modelnet/datasets/c_eval.jsonl
            dataset_name: C-Eval
            split: validation-sample
            encoding: utf-8
            id_key: id
            question_key: question
            answer_key: answer
            metadata_keys:
              - subject
              - extractor
          limit: 100
          offset: 0
          seed: 42
          selected: false
          shuffle: true
          title: 数据集加载：抽取 100 条 C-Eval 样本
          type: data-loader
        height: 142
        id: sample_loader
        position:
          x: 334
          'y': 386
        positionAbsolute:
          x: 334
          'y': 386
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: >-
            样本级 Iteration。每轮处理一条 data-loader item；每条样本内部保留四个 token-model-source，token 自回归由
            parallel-ensemble 内部 runner 完成。
          error_handle_mode: terminated
          flatten_output: true
          height: 720
          is_parallel: false
          iterator_input_type: array[object]
          iterator_selector:
            - sample_loader
            - items
          output_selector:
            - evaluate_answer
            - result
          output_type: array[object]
          parallel_nums: 10
          selected: false
          start_node_id: sample_iteration_start
          title: 迭代：逐样本评测
          type: iteration
          width: 1230
        height: 720
        id: sample_iteration
        position:
          x: 638
          'y': 80
        positionAbsolute:
          x: 638
          'y': 80
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 1230
        zIndex: 1
      - data:
          desc: 样本级迭代起点。
          isInIteration: true
          selected: false
          title: ''
          type: iteration-start
        draggable: false
        height: 48
        id: sample_iteration_start
        parentId: sample_iteration
        position:
          x: 32
          'y': 336
        positionAbsolute:
          x: 670
          'y': 416
        selectable: false
        sourcePosition: right
        targetPosition: left
        type: custom-iteration-start
        width: 44
        zIndex: 1002
      - data:
          code: |
            def main(item: dict, dataset: str, split: str, loader_metadata: dict) -> dict:
                item = item or {}
                data = item.get("data") or {}
                metadata = item.get("metadata") or {}
                question = item.get("question") or data.get("question") or ""
                answer = item.get("answer") or data.get("answer") or ""
                sample_id = item.get("id") or data.get("id") or ""
                subject = metadata.get("subject") or data.get("subject") or ""
                extractor = metadata.get("extractor") or data.get("extractor") or "last_abcd"
                return {
                    "prompt": str(question),
                    "sample_id": str(sample_id),
                    "gold_answer": str(answer),
                    "subject": str(subject),
                    "extractor": str(extractor),
                    "dataset": dataset or "",
                    "split": split or "",
                    "source_path": (loader_metadata or {}).get("path", ""),
                    "sample_metadata": metadata,
                }
          code_language: python3
          desc: 整理当前迭代样本，生成 prompt、gold answer 和评测元数据，供四个 token-model-source 复用。
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          outputs:
            prompt:
              children: null
              type: string
            sample_id:
              children: null
              type: string
            gold_answer:
              children: null
              type: string
            subject:
              children: null
              type: string
            extractor:
              children: null
              type: string
            dataset:
              children: null
              type: string
            split:
              children: null
              type: string
            source_path:
              children: null
              type: string
            sample_metadata:
              children: null
              type: object
          selected: false
          title: 样本整理：生成 prompt
          type: code
          variables:
            - value_selector:
                - sample_iteration
                - item
              variable: item
            - value_selector:
                - sample_loader
                - dataset
              variable: dataset
            - value_selector:
                - sample_loader
                - split
              variable: split
            - value_selector:
                - sample_loader
                - metadata
              variable: loader_metadata
        height: 130
        id: prepare_sample
        parentId: sample_iteration
        position:
          x: 112
          'y': 296
        positionAbsolute:
          x: 750
          'y': 376
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
        zIndex: 1002
      - data:
          desc: Model m=1, q1, model_alias=38。读取 prepare_sample.prompt 并输出 ModelInvocationSpec。
          extra: {}
          inline_spec: null
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          model_alias: '38'
          prompt_template: '{{#prepare_sample.prompt#}}'
          raw_completion: false
          sampling_params:
            max_tokens: 1024
            seed: null
            stop: []
            temperature: 0.7
            top_k: 10
            top_p: null
          selected: false
          title: Token Source m=1 (q1)
          type: token-model-source
        height: 130
        id: q1_source
        parentId: sample_iteration
        position:
          x: 414
          'y': 24
        positionAbsolute:
          x: 1052
          'y': 104
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
        zIndex: 1002
      - data:
          desc: Model m=2, q2, model_alias=5。读取 prepare_sample.prompt 并输出 ModelInvocationSpec。
          extra: {}
          inline_spec: null
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          model_alias: '5'
          prompt_template: '{{#prepare_sample.prompt#}}'
          raw_completion: false
          sampling_params:
            max_tokens: 1024
            seed: null
            stop: []
            temperature: 0.7
            top_k: 10
            top_p: null
          selected: false
          title: Token Source m=2 (q2)
          type: token-model-source
        height: 130
        id: q2_source
        parentId: sample_iteration
        position:
          x: 414
          'y': 196
        positionAbsolute:
          x: 1052
          'y': 276
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
        zIndex: 1002
      - data:
          desc: Model m=3, g4, model_alias=6。读取 prepare_sample.prompt 并输出 ModelInvocationSpec。
          extra: {}
          inline_spec: null
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          model_alias: '6'
          prompt_template: '{{#prepare_sample.prompt#}}'
          raw_completion: false
          sampling_params:
            max_tokens: 1024
            seed: null
            stop: []
            temperature: 0.7
            top_k: 10
            top_p: null
          selected: false
          title: Token Source m=3 (g4)
          type: token-model-source
        height: 130
        id: g4_source
        parentId: sample_iteration
        position:
          x: 414
          'y': 368
        positionAbsolute:
          x: 1052
          'y': 448
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
        zIndex: 1002
      - data:
          desc: Model m=4, L3, model_alias=2。读取 prepare_sample.prompt 并输出 ModelInvocationSpec。
          extra: {}
          inline_spec: null
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
          model_alias: '2'
          prompt_template: '{{#prepare_sample.prompt#}}'
          raw_completion: false
          sampling_params:
            max_tokens: 1024
            seed: null
            stop: []
            temperature: 0.7
            top_k: 10
            top_p: null
          selected: false
          title: Token Source m=4 (L3)
          type: token-model-source
        height: 130
        id: L3_source
        parentId: sample_iteration
        position:
          x: 414
          'y': 540
        positionAbsolute:
          x: 1052
          'y': 620
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
        zIndex: 1002
      - data:
          desc: >-
            DuetNet 内置 token_step 自回归：四个 token-model-source 先产出 ModelInvocationSpec，本节点联合
            tau_K/tau_P 截断候选集合，按原始 logit 累计分数聚合，并连续生成直到 EOS 或 max_len。
          ensemble:
            aggregator_config:
              seed: null
              tau_k: 10
              tau_p: 0.75
              top_t: 1
              use_weights: false
            aggregator_name: duet_net
            diagnostics:
              enable_trace_stream: false
              include_aggregator_reasoning: true
              include_logits: true
              include_model_outputs: false
              include_per_backend_errors: true
              include_response_timings: true
              include_think_trace: false
              include_token_candidates: true
              max_trace_tokens: 512
              storage: metadata
            runner_config:
              enable_think: false
              max_len: 512
            runner_name: token_step
            token_sources:
              - extra: {}
                fallback_weight: null
                source_id: q1
                spec_selector:
                  - q1_source
                  - spec
                top_k_override: null
                weight: 1
              - extra: {}
                fallback_weight: null
                source_id: q2
                spec_selector:
                  - q2_source
                  - spec
                top_k_override: null
                weight: 1
              - extra: {}
                fallback_weight: null
                source_id: g4
                spec_selector:
                  - g4_source
                  - spec
                top_k_override: null
                weight: 1
              - extra: {}
                fallback_weight: null
                source_id: L3
                spec_selector:
                  - L3_source
                  - spec
                top_k_override: null
                weight: 1
          selected: false
          title: DuetNet 聚合：自回归生成答案
          type: parallel-ensemble
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
        height: 200
        id: token_vote
        position:
          x: 716
          'y': 282
        positionAbsolute:
          x: 1354
          'y': 362
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
        parentId: sample_iteration
        zIndex: 1002
      - data:
          code: |
            import re


            def _last_abcd(text: str) -> str:
                cleaned = (text or "").upper()
                matches = re.findall(r"(?<![A-Z])([ABCD])(?![A-Z])", cleaned)
                if matches:
                    return matches[-1]
                for char in reversed(cleaned):
                    if char in {"A", "B", "C", "D"}:
                        return char
                return ""


            def _last_bool(text: str) -> str:
                cleaned = (text or "").strip().lower()
                matches = re.findall(r"\b(true|false|yes|no)\b", cleaned)
                if not matches:
                    return ""
                value = matches[-1]
                if value == "yes":
                    return "true"
                if value == "no":
                    return "false"
                return value


            def _normalize(text: str, extractor: str) -> str:
                strategy = (extractor or "").strip().lower()
                if strategy == "last_bool":
                    return _last_bool(text)
                return _last_abcd(text)


            def main(
                raw_answer: str,
                gold_answer: str,
                extractor: str,
                sample_id: str,
                dataset: str,
                split: str,
                subject: str,
                source_path: str,
                generated_tokens: int,
            ) -> dict:
                prediction = _normalize(raw_answer or "", extractor or "last_abcd")
                normalized_gold = _normalize(gold_answer or "", extractor or "last_abcd")
                is_correct = bool(prediction) and prediction == normalized_gold
                result = {
                    "sample_id": sample_id or "",
                    "dataset": dataset or "",
                    "split": split or "",
                    "subject": subject or "",
                    "extractor": extractor or "last_abcd",
                    "source_path": source_path or "",
                    "gold_answer": gold_answer or "",
                    "normalized_gold": normalized_gold,
                    "prediction": prediction,
                    "is_correct": is_correct,
                    "raw_answer": raw_answer or "",
                    "generated_tokens": generated_tokens or 0,
                }
                return {
                    "raw_answer": result["raw_answer"],
                    "prediction": prediction,
                    "normalized_gold": normalized_gold,
                    "is_correct": is_correct,
                    "result": result,
                }
          code_language: python3
          desc: 根据样本 extractor 字段从最终生成文本中抽取预测答案，并输出当前样本评测对象。
          outputs:
            is_correct:
              children: null
              type: boolean
            normalized_gold:
              children: null
              type: string
            prediction:
              children: null
              type: string
            raw_answer:
              children: null
              type: string
            result:
              children: null
              type: object
          selected: false
          title: 评测：抽取并对比答案
          type: code
          variables:
            - value_selector:
                - token_vote
                - text
              variable: raw_answer
            - value_selector:
                - prepare_sample
                - gold_answer
              variable: gold_answer
            - value_selector:
                - prepare_sample
                - extractor
              variable: extractor
            - value_selector:
                - prepare_sample
                - sample_id
              variable: sample_id
            - value_selector:
                - prepare_sample
                - dataset
              variable: dataset
            - value_selector:
                - prepare_sample
                - split
              variable: split
            - value_selector:
                - prepare_sample
                - subject
              variable: subject
            - value_selector:
                - prepare_sample
                - source_path
              variable: source_path
            - value_selector:
                - token_vote
                - tokens_count
              variable: generated_tokens
          isInIteration: true
          isInLoop: false
          iteration_id: sample_iteration
        height: 154
        id: evaluate_answer
        position:
          x: 934
          'y': 282
        positionAbsolute:
          x: 1572
          'y': 362
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
        parentId: sample_iteration
        zIndex: 1002
      - data:
          code: >
            def main(results: list, dataset_total: int, loaded_count: int, next_offset: int) ->
            dict:
                rows = results or []
                total_evaluated = len(rows)
                correct_count = 0
                for row in rows:
                    if isinstance(row, dict) and row.get("is_correct"):
                        correct_count += 1
                accuracy = correct_count / total_evaluated if total_evaluated else 0.0
                return {
                    "total_evaluated": total_evaluated,
                    "correct_count": correct_count,
                    "accuracy": accuracy,
                    "dataset_total": dataset_total or 0,
                    "loaded_count": loaded_count or total_evaluated,
                    "next_offset": next_offset or 0,
                }
          code_language: python3
          desc: 汇总 100 条样本评测结果，计算正确数和准确率。
          outputs:
            accuracy:
              children: null
              type: number
            correct_count:
              children: null
              type: number
            dataset_total:
              children: null
              type: number
            loaded_count:
              children: null
              type: number
            next_offset:
              children: null
              type: number
            total_evaluated:
              children: null
              type: number
          selected: false
          title: 汇总：计算 100 题准确率
          type: code
          variables:
            - value_selector:
                - sample_iteration
                - output
              variable: results
            - value_selector:
                - sample_loader
                - total
              variable: dataset_total
            - value_selector:
                - sample_loader
                - count
              variable: loaded_count
            - value_selector:
                - sample_loader
                - next_offset
              variable: next_offset
        height: 154
        id: summarize_results
        position:
          x: 1920
          'y': 404
        positionAbsolute:
          x: 1920
          'y': 404
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: 输出 100 题逐样本评测结果、正确数、评测数和准确率。
          outputs:
            - value_selector:
                - sample_loader
                - dataset
              value_type: string
              variable: dataset
            - value_selector:
                - sample_loader
                - split
              value_type: string
              variable: split
            - value_selector:
                - sample_iteration
                - output
              value_type: array[object]
              variable: results
            - value_selector:
                - summarize_results
                - total_evaluated
              value_type: number
              variable: total_evaluated
            - value_selector:
                - summarize_results
                - correct_count
              value_type: number
              variable: correct_count
            - value_selector:
                - summarize_results
                - accuracy
              value_type: number
              variable: accuracy
            - value_selector:
                - summarize_results
                - dataset_total
              value_type: number
              variable: dataset_total
            - value_selector:
                - summarize_results
                - loaded_count
              value_type: number
              variable: loaded_count
            - value_selector:
                - summarize_results
                - next_offset
              value_type: number
              variable: next_offset
          selected: false
          title: 结束：输出评测结果
          type: end
        height: 190
        id: end_node
        position:
          x: 2224
          'y': 404
        positionAbsolute:
          x: 2224
          'y': 404
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    viewport:
      x: -120
      'y': 20
      zoom: 0.58
